[2021-02-08 15:35] stitakis commented on #540
@gerardcl does the error above sounds to you? Do you know an anternative url?

[2021-02-09 08:39] stitakis commented on #540
@gerardcl after a quick investigation... it looks like the domain archive.cloudera.com requires authentication (see https://community.cloudera.com/t5/Support-Questions/need-to-register-https-archive-cloudera-com/td-p/293344)... it looks to me that this worked in the past but since last weekend authentication was enabled to the whole archive cloudera domain. I haven't sought for this thou. Anyway..

[2021-02-09 08:39] stitakis commented on #540
@metmajer fyi... ods AMI build 3.x is currently failing... we are investigating how to fix

[2021-02-09 11:04] gerardcl commented on #540
hi @stitakis , I will provide a fix end of today

[2021-02-09 11:44] gerardcl commented on #540
hi @stitakis and @clemensutschig the fix is ready, approve if you are fine, then I will merge. thanks!

Explanation of the change: basically we now have fully removed such cloudera repo dependency, that was only required for a legacy dependency that the default skeleton does not make use from.

Context: the current fix removes a dependency that might be of interest to be provided for users, but th

[2021-02-09 11:49] #540 closed

[2021-02-12 10:15] stitakis opened #544 "ODS AMI build failing due to error in test of qs e2e spock"
**Describe the bug**
This is affecting CI build of branches `master` and `3.x`.

It looks like the qs e2e spock depends on this library latest version `https://cdn.snigelweb.com/sncmp/latest/sncmp_stub.min.js`.
From the error message below something seems to be not compatible with library.

Error message:
[code]

How to reproduce:
- log into your odsbox
- pull latest ods-quickstarter branch and pu

[2021-02-12 10:17] stitakis commented on #544
@metmajer maybe you know the root of the problem... could you please have a quick look?

[2021-02-12 15:27] #536 closed

[2021-02-16 08:26] gerardcl opened #545 "Nodejs12 Jenkins Agent fails pipeline run due to not enough memory"
**Describe the bug**
When using the nodejs12 jenkins agent in OpenShift4 and with the default resources defined (limit of mem of 2G) by ODS we run out of memory and pipeline fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Provision a Nodejs12 related quickstarter
2. Pipeline fails with out of memory error

**Expected behavior**
Should have enough memory

**Affected version (please com

[2021-02-16 08:32] gerardcl commented on #545
current given resouce values by default are:
[code]

we solve this by increasing 500Mi in memory resources side

[2021-02-16 08:54] metmajer commented on #544
According to @stitakis this intermediary issue was resolved by the library provider.

[2021-02-16 08:54] #544 closed

[2021-02-16 10:13] #545 closed

[2021-02-16 10:22] gerardcl commented on #267
Hi @prathyusha-mandala  and @dwmaris, we will close this issue in the next days if no more feedback provided.
Please, if you test again, you should be using ODS 3.x as a baseline.

[2021-02-16 10:23] gerardcl commented on #77
@drdivine can we close this issue since there is not too much push for this anymore? looks like the approach for internal quickstarters is working so far also.

[2021-02-16 10:24] gerardcl commented on #23
hi @alanbort  I believe we can close this ticket since there is no expectation to run R-Studio within OpenShift, right?

[2021-02-16 10:25] gerardcl commented on #24
hi @alanbort  I believe we can close this ticket since there is no expectation to run Jupyter Hub within OpenShift, right?

[2021-02-16 10:44] #77 closed

[2021-02-17 09:14] gerardcl opened #547 "revert memory increase for nodejs12 change made on #545"
**Describe the bug**
There is a clear increase of memory usage but from a clean new provisioned quickstarter the memory is still under the default limits

**Expected behavior**
Revert changes made on #545

**Screenshots**
Here a pict of a clean fe-angular provisioned quickstarter using nodejs12 agent:
![Screenshot 2021-02-17 at 09 44 45](https://user-images.githubusercontent.com/1785235/108181775-

[2021-02-17 10:16] cschweikert commented on #547
Makes sense. If a component would need more memory, this can still be adjusted on the component's ``Jenkinsfile``.

[2021-02-17 10:19] #547 closed

[2021-02-18 18:10] renedupont opened #549 "What about a plain-jenkins-agent qs?"
**Is your feature request related to a problem? Please describe.**
Myself, and I also read from others, had the issue in the past that we needed a custom jenkins-agent image for our pipeline. I know it can be done manually by creating a bitbucket project, add some files, grant permissions, bc in oc ... If you know exactly what to do, it should take less than an hour, but it is still a manual proce

[2021-02-19 17:15] segator opened #550 "Rshine jenkins slave build failure 3.x"
**Describe the bug**
Rshine jenkins slave build is failing on 3.x

**Cause**
Broken link http://archive.cloudera.com/cdh5/ubuntu/xenial/amd64/cdh/archive.key (401 ??)

**Log**
[code]

[2021-02-19 17:17] gerardcl commented on #550
@segator thsi was fixed here https://github.com/opendevstack/ods-quickstarters/pull/542

[2021-02-19 17:30] segator commented on #550
Thanks!

[2021-02-19 17:30] #550 closed

[2021-02-24 13:43] jssnull opened #551 "release manager quickstarter ODS_BITBUCKET_PROJECT only uses the opendevstack Bitbucket project"
The current release manager quickstarter creates document generation deployment config
pointing to "opendevstack" project, then if we have opendevstack installed in another Bitbucket project
it will point to a wrong Bitbucket project.

the environment variable of document generation service  involved on this is: BITBUCKET_DOCUMENT_TEMPLATES_PROJECT

we can see it here: https://github.com/opendevst

[2021-02-24 13:51] jssnull commented on #551
I've created a PR for this: https://github.com/opendevstack/ods-quickstarters/pull/552

[2021-03-05 11:09] stitakis opened #554 "ODS AMI build for master branch is failing due to unbound variable"
**Describe the bug**
An ODS tests is failing due to a missing variable.

This is error log:
[code]

[2021-03-05 11:10] stitakis commented on #554
@jssnull It looks like this change broke the build: https://github.com/opendevstack/ods-quickstarters/commit/9adcc6e152a570f1489486001400cd94eb15d99a... can you please have a look?

[2021-03-15 11:59] stitakis commented on #554
@jssnull did you have the chance to look at this?

[2021-03-15 14:25] jssnull commented on #554
Hi @stitakis  sorry I was with another tasks I'll let you know if I have any updates

[2021-03-25 11:57] clemensutschig commented on #554
@jssnull  - you broke master - when do you intend to fix this?!

[2021-03-25 12:18] clemensutschig commented on #554
@michaelsauter  - alternatively - can you quickly pick this up?

[2021-03-25 13:04] #554 closed

[2021-03-25 23:39] jafarre-viewnext commented on #512
Hi all! I have started working on adding this feature and I would like to share my insights and ask for feedback.

First for the usage of the standard labels for the usual ODS components based on quickstarters:
**name**: ${COMPONENT_ID}.
 - Helm recommends {{ template "name" . }}. It would be best if both values were the same.
**instance**:
- ${COMPONENT_ID} is fine.
- I would rather not set it at

[2021-03-25 23:51] jafarre-viewnext commented on #512
About the implementation.

Most of the labels can be set at provisioning time and would remain constant.
One excpetion this would be the version label, which can change for every deployment. Other labels could be defined that also change.

Right now, the label app=${PROJECT}-${COMPONENT} is defined in the common tailor template for the quickstarters.
It is very straight forward to set all the labe

[2021-03-26 07:31] michaelsauter commented on #512
As mentioned above, I would start with the subset that is relatively clear. As stated by @henrjk:

I would split the complicated things (especially version) into a separate ticket.

That said, maybe it would be good to go one step back before implementing and formulate what value we want to get from adding those labels. What is it that we don't have right now that we will have when we add those la

[2021-03-26 07:50] metmajer commented on #512
@michaelsauter @henrjk @jssnull here's what we need: ability to clearly identify for every resource at least for security-based and application monitoring-based asset management:

1. what is it? (type of component)
2. whom does it belong to? (owner)
3. which project does it belong to? (config item)
4. which version is it? (both the Git commit SHA and the change id)

With regards to 3. and 4.: both

[2021-03-26 07:56] michaelsauter commented on #512
I have a follow-up question to

What happens for projects not using the release manager? As it is not shipped by default, some projects might not have it. Is this OK, or do we want to answer question 3 and 4 also for projects which do not use the RM?

[2021-03-29 12:22] metmajer commented on #512
Overall, I think that the Release Manager should be used in each use-case, but I am also aware of the advantages of the component pipeline, and that the Release Manager is not exactly needed in an experimental setting. When migrating use-cases to the new clusters, it should be enabled for every project in the corporate context.

Labels are ideally applied in a way that's transparent to the user by

[2021-04-06 07:58] michaelsauter commented on #512
Sounds alright to me. I wonder if the config item and change ID label should be something that is configurable per installation - so that on install, cluster admins can choose which labels should be set. Not sure how that could be done right now though - would be hard to know how to fill them with values ...

[2021-04-07 07:15] metmajer commented on #512
@jafarre-viewnext I think we clarified the most important questions for now. Anything else you need?

[2021-04-08 13:35] jssnull commented on #551
this was solved in https://github.com/opendevstack/ods-quickstarters/pull/561
We'll close this

[2021-04-08 13:35] #551 closed

[2021-04-08 14:23] clemensutschig commented on #7
@michaelsauter  . this is done, or ... so I guess we can close this?

[2021-04-08 14:42] michaelsauter commented on #7
This is not done yet. The base images of the quickstarters are still Alpine based. We recently touched this topic during a discussion on patch management (@metmajer @maksymmaksym). We agreed that it would be good to explore using RedHat provided base images from a security perspective. From a developer perspective, it's also attractive because having the same architecture in the image we're buildi

[2021-04-08 14:46] metmajer commented on #7
@michaelsauter I would not rush here. In a recent meeting with @maksymmaksym we discussed that this will not be part of the next EDP 1.2/ODS 4 release.

[2021-04-08 14:48] michaelsauter commented on #7
Sounds good to me. Moving off of ODS 4.0.0.

[2021-04-09 15:13] gerardcl commented on #23
closing this

[2021-04-09 15:13] #23 closed

[2021-04-09 15:14] gerardcl commented on #24
closing it

[2021-04-09 15:14] #24 closed

[2021-04-09 15:21] gerardcl opened #562 "ds-jupyter-notebook renaming to ds-jupyter-lab"
**Is your feature request related to a problem? Please describe.**
`ds-jupyter-notebook` is not just a notebook but the Jupyter IDE suite where you are provided not only notebooks, but also terminals. So, I am proposing to renaming it accordingly to `ds-jupyter-lab`.

**Describe the solution you'd like**
To have a fitting name for what this quickstarter provides.

**Describe alternatives you've co

[2021-04-09 15:22] gerardcl commented on #478
@stevegbrooks any updates on this from your side? let's sync during next week or the other, thanks!

[2021-04-09 15:26] gerardcl opened #563 "ds-rshiny Dockerfile update"
**Is your feature request related to a problem? Please describe.**
The `ds-rshiny` is still using `ubuntu:16.04` as the base image. We need to upgrade it and port to a better managed base image.

**Describe the solution you'd like**
To have a more recent OS base image (maybe UBI based) or to use one from the widely used https://github.com/rocker-org

**Describe alternatives you've considered**
To

[2021-04-09 15:34] gerardcl commented on #475
@stevegbrooks any update on this? shall we review minimal next steps to be provided? we don't need to provide all at once but maybe for example starting with a better Dockerfile?

I might provide in the following weeks, I will keep you updated (see also https://github.com/opendevstack/ods-quickstarters/issues/563)

[2021-04-12 17:43] gerardcl commented on #562
FYI @borja44 @metmajer @michaelsauter
if you all agree I will proceed, this means updating all the refences in the docs and so on, shouldn't be an issue, or?

[2021-04-15 08:09] stevegbrooks commented on #478
Hi - no updates right now. I'll reach out to you on Teams.

[2021-04-15 08:11] stevegbrooks commented on #475
no updates. I haven't had time to think about this since we last talked about it unfortunately.

I'll contact you on teams about it.

[2021-04-15 10:29] gerardcl opened #568 "ds-ml-service deprecation - move it to extra-quickstarters"
**Is your feature request related to a problem? Please describe.**
`ds-ml-service` quickstarter is no longer requested since it has been superseded by other new technologies, like mlflow and other SaaS solutions

**Describe the solution you'd like**
In order to decrease the maintenance load we can move it to extra-quickstarters

**Describe alternatives you've considered**
To keep it

**Additional

[2021-04-15 12:01] michaelsauter commented on #568
I would be in favour of removing it. Note that you'd also need to update the default QS configuration in `ods-core` if we end up removing the QS.

[2021-04-15 12:13] gerardcl commented on #568
sure, that is why I said some PRs hehe
when you say "removing" you mean there is no need to move it to extra-quickstarters ? I would also agree

[2021-04-15 12:19] michaelsauter commented on #568
ah sorry, meant "removing from this repo, and move to extra-quickstarters" :) I think it would be nice to have it there for the time being.

[2021-04-15 13:06] metmajer commented on #568
agree with moving it into extra-quickstarters, as discussed @gerardcl !

[2021-04-16 06:24] gerardcl commented on #562
@segator @felipecruz91 is this also ok for you? let me know if we should skip this change or any comment! I believe it makes sense now, better later than never! :)

[2021-04-16 07:11] felipecruz91 commented on #562
@gerardcl I'm happy with any change that makes things clearer 👍

Apart from the documentation, let me gather a few places where the reference should be also changed:

- [ ] ConfigMap `quickstarters.properties`
[code]
- [ ] [Component's metadata.yml](https://github.com/opendevstack/ods-quickstarters/blob/master/ds-jupyter-notebook/files/metadata.yml#L2)

[2021-04-16 08:26] #563 closed

[2021-04-16 20:14] #568 closed

[2021-04-18 10:17] gerardcl opened #573 "current fe-ionic provision broken as of 17 April 2021"
**Describe the bug**
Last ODS test run failed at `fe-ionic` provisioning step. It looks like it is due to `fe-ionic` not being able to locate `tslint.json`

**To Reproduce**
Steps to reproduce the behavior:
1. Provision `fe-ionic` or check latest test logs in `ods-core` tests [reports](https://github.com/opendevstack/ods-core#current-master-ami-build-log)
2. Stage `init ionic project` fails

**Exp

[2021-04-18 10:17] gerardcl commented on #573
FYI @rianet @bljubisic

[2021-04-19 15:48] clemensutschig commented on #573
no `tslint.json` anymore?!

[code]

[2021-04-19 16:48] bljubisic commented on #573
I am looking at this , but it looks strange

[2021-04-19 21:23] bljubisic commented on #573
So, Ionic has got rid of tslint and now it is an option. So, we have two solution here, either we force usage of tslint and have this rule added within init.sh, or we get rid of that line and continue without linter, leaving the users to choose their own. I am for second option as we already have too many forced things within this quickstarter. What do you think, @netzartist @ManuelFeller @rianet

[2021-04-20 04:54] rianet commented on #573
Tslint is deprecated, now they adopted eslint @bljubisic https://ionicframework.com/blog/eslint-for-ionic-angular/

[2021-04-20 06:04] michaelsauter commented on #573
@bljubisic Thanks looking into this!

For `3.x`, I see two options: either moving on without linter, or fixing Ionic to an older, working version. Is the latter possible?

For `master`, I think it would be nice to have a linter out of the box unless the space is so fragmented that choosing a default is almost impossible.

[2021-04-20 07:08] netzartist commented on #573
@bljubisic I would agree to @michaelsauter 's suggestion to move on without linter for `3.x` and use `eslint` as a default from now on in `master`

[2021-04-20 09:02] clemensutschig commented on #573
cool ... do you create the PR's @bljubisic

[2021-04-20 14:28] bljubisic commented on #573
Ok, so I would create a pull request without linter and then we can move forward. This would leave the choice of linter to developers and users of the quickstarter.

[2021-04-21 19:55] #573 closed

[2021-05-05 06:58] clemensutschig opened #580 "latest master (20210505) - ionic QS broken / cli version not found."
https://github.com/opendevstack/ods-quickstarters/pull/577 seems to have caused

[code]

@felipecruz91  - seems like the cli upgrade (did you test that?) fails the buidl now .. please take a  look asap

[2021-05-05 07:08] clemensutschig commented on #580
@bljubisic fyi

[2021-05-05 07:43] bljubisic commented on #580
I am on it

[2021-05-05 08:31] felipecruz91 commented on #580
Hi,

Sorry I'm on PTO so I won't be able to do further edits from my phone.

Where does the command `npm install -g ionic@6.13.1` come from?

It should be:

`npm i @ionic/cli@6.13.1`

IIRC, that's what I edited in the PR aforementioned.

[2021-05-05 08:47] bljubisic commented on #580
Change is needed in Jenkinsfile, not only in Jenkinsfile.template. Will do the change in a bit and will create PR

[2021-05-05 10:16] #580 closed

[2021-05-05 11:01] clemensutschig commented on #549
with the new setup ... (to create the image in the cd namespace - this should be there out of the box)?

[2021-05-05 11:32] #562 closed

[2021-05-05 12:02] michaelsauter commented on #549
I think the proposal is about creating custom Jenkins agent images. E.g. you want to use Java 16 but the "ODS official" quickstarter only ships with Java 11. For this you not only need to swap the application image, but also the Jenkins image that executes `./gradlew build`.

that is for the application images - previously built in foo-dev, now in foo-cd and then transferred.

[2021-05-05 12:06] clemensutschig commented on #549
@michaelsauter  - plain docker, built in cd would do it,... because we create the image now in *cd or?

[2021-05-05 16:59] gerardcl opened #582 "be-python-flask recovery and housekeeping"
**Is your feature request related to a problem? Please describe.**
In a previous PR we have removed by mistake the be-python-flask on master, since we want to do some housekeeping we can add it back in this PR too.

**Describe the solution you'd like**
Get it back and do housekeeping

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-05-05 17:13] gerardcl opened #583 "recover be-python-flask"
**Describe the bug**
Recover current and latest be-python-flask version that got deleted in the last merged PR by mistake

**Expected behavior**
be-python-flask in place

**Affected version (please complete the following information):**
 - OpenShift: all
 - OpenDevStack master

[2021-05-05 17:22] gerardcl opened #585 "be-python-flask housekeeping and enhancements"
**Is your feature request related to a problem? Please describe.**
Update default dependencies and base image

**Describe the solution you'd like**
Ensure we are using latest versions and provide UBI8 python base image

**Describe alternatives you've considered**
N/A

**Additional context**
Housekeeping

[2021-05-05 17:31] #583 closed

[2021-05-06 07:00] renedupont commented on #549
Did I get it right that you basically mean to
- just provision the plain-docker quickstarter
- add everything necessary into the Dockerfile to be able build the actual application
- also add `FROM jenkins-base-image` to Dockerfile
- remove the deploy stage in the Jenkinsfile
- push it and let the pipeline create the image in the cd namespace
- change in the Jenkinsfile of the actual application th

[2021-05-06 07:07] clemensutschig commented on #549
correct :)

[2021-05-06 15:45] jafarre-viewnext commented on #512
Hello, I have been studying the available documentation in detail.
Some tools, specially OpenShift 4, are making use of these labels, when they are available.
For instance, OpenShift can use several labels to graphically represent the system in the topology view.
Let's see an example. Suppose the following three components:

component id: userdb
name label: mongodb
instance label: userdb
part-of l

[2021-05-06 17:01] renedupont commented on #549
Ok sounds good to me - maybe we could just add then a README.md in the files folder of docker-plain (https://github.com/opendevstack/ods-quickstarters/tree/master/docker-plain/files) that describes this option and the steps mentioned above?

[2021-05-06 17:36] renedupont commented on #549
docker-plain has neither a rhel7 and ubi8 Dockerfile nor a ocp-config folder with resources in it like all the actual agents. Are those mandatory?

[2021-05-06 17:39] clemensutschig commented on #549
not needed, there is one Dockerfile and the std configs are created ... :) (similar to other quickstarters)

[2021-05-06 18:40] metmajer commented on #512
@jafarre-viewnext interesting, but not a #1 priority now. Doesn't hurt to work in this direction, but IMHO, additional labels can always be added in the future, if needed. Right now, highest goal is to be able to identify resources and trace them back to their owners.

[2021-05-06 19:56] jafarre-viewnext commented on #512
@metmajer Totally agree. That's why I selected a subset in the second sheet. It matches more or less the ones we wanted, plus one or two which are trivial to implement. Project-owner, name and component are much trickier to implement.

[2021-05-10 06:37] gerardcl opened #588 "be-gateway-nginx upgrade and maintenance"
**Is your feature request related to a problem? Please describe.**
Nginx/OpenResty quickstarter requires getting upgraded and proper maintenance

**Describe the solution you'd like**
Get to latest stream state

**Describe alternatives you've considered**
N/A

**Additional context**
ODS4 preparations

[2021-05-10 07:06] #588 closed

[2021-05-10 07:58] #585 closed

[2021-05-10 08:29] michaelsauter commented on #7
@metmajer What alternative to moving to UBI do you see? Pulling from DockerHub directly blocks a lot of people who all have to do their workaround. I think it would be good if the next release has some solution to it - or some other non-release related remedy.

[2021-05-10 11:28] metmajer commented on #7
@michaelsauter maybe a misunderstanding? I am fully with you regarding UBI, but have to mention that we (my teams) won't have the ability to spend time on this topic until the next release. I mean to remember that @gerardcl mentioned in this thread (maybe changed in the meantime?) that UBI could be 1 of several options, and interpreted this as: maintain multiple base images in parallel which I am

[2021-05-10 11:37] gerardcl commented on #7
hi @metmajer , I have never proposed to have different base images / options for each quickstarter, rather to tackle each quickstarter the better way we find. For the Python-related ones, I found we can already use the UBI8 images, which is already in place in master branch -> ready for ODS4.

Regarding other quickstarters, we might, for example, end up having to provide a caching-like solution. F

[2021-05-10 11:42] metmajer commented on #7
@gerardcl makes sense! I must have misinterpreted something when skimming over an email recently. Seems we're aligned and, granted, UBI images won't be the best solution everywhere!

[2021-05-10 12:04] gerardcl opened #590 "enable access logs on oauth-proxy for ds quickstaters"
**Is your feature request related to a problem? Please describe.**
Current `ds-jupyter-lab` and `ds-rshiny` make use of the OpenShift OAuth Proxy component in order to enable access control. But, we do not log the requests and that would be useful for debugging or forensics or audit activities.

**Describe the solution you'd like**
Enable the flag for logging request logs.

**Describe alternatives

[2021-05-10 12:37] #590 closed

[2021-05-10 21:01] jafarre-viewnext commented on #512
@michaelsauter , during the fruitful conversation with @metmajer this afternoon, we came up with the idea of naming the labels for the configItem and the changeId in a more generic way, so that they are more useful for general purpose.
I propose the following names:
app.opendevstack.org/systemName and app.opendevstack.org/projectVersion, respectively.
What do you think?

[2021-05-10 21:35] metmajer commented on #512
@jafarre-viewnext I suggest `version` and `odsVersion`, where `version` refers to the version of the application. Hmm?

[2021-05-10 21:43] jafarre-viewnext commented on #512
I am afraid that users could be confused about the difference between this version and the K8s standard version label. I thought project-version was clearer, as all the components in the project will share the same version number. But version is fine, too.
And yes, I forgot mentioning ods-version.

[2021-05-11 06:36] michaelsauter commented on #512
Maybe we can make a table of labels, their meaning, and example value, and their purpose? This thread still feels a bit confusing to me :) For example, it is not entirely clear for me what need `app.opendevstack.org/systemName` fills.

Example table:

| Label | Meaning | Example value | Purpose |
| ----- | --------- | -------------- | ---------|
| app.kubernetes.io/name | The name of the applicati

[2021-05-12 06:51] segfault16 commented on #7
Regarding Docker Rate Limits on Dockerhub:

This problem can occur in

- Openshift Docker Image Build (when using external image as base)
- Scheduling of Jenkins Agent Pods if a podTemplate with an external image is used
- Scheduling of Application Pods if external image is used, e.g. as a sidecar

Proposed fixes so far:

- Transparent proxy for docker images configured correctly throughout Opensh

[2021-05-18 11:43] jafarre-viewnext commented on #512
This is the set of labels implemented:

| Label | Meaning | Value | Example value | Purpose |
| ----- | --------- | ----- | -------------- | ---------|
| app.kubernetes.io/name | The name of the application | name in metadata.yml | ${COMPONENT_ID} | Identify all resources belonging to one component |
| app.kubernetes.io/instance | A unique name identifying the instance of an application | ${COMPON

[2021-05-18 12:35] metmajer commented on #512
@jafarre-viewnext can you add a column indicating which of those values will be sanitised and how?

[2021-05-18 13:23] jafarre-viewnext commented on #512
@metmajer all changes done

[2021-05-21 06:45] #549 closed

[2021-05-21 22:03] #512 closed

[2021-05-28 16:01] metmajer opened #593 "Error building the nodejs10-angular Jenkins agent for 3.x"
**Describe the bug**
The AMI build for ODS 3.x is failing due to a failure in building the `nodejs10-angular` agent.

**To Reproduce**
Go to https://github.com/opendevstack/ods-core/tree/master and see the red badge on top of the `README.md` in the master branch. Download the log file for the 3.x branch at the bottom of the page.

**Affected version (please complete the following information):**

[2021-05-31 06:51] michaelsauter commented on #593
Is this also the case for `master`?

AFAICT, `'aproba@^1.1.1' is not in the npm registry` is the issue, and as that dependency is not mentioned explicitly in this repo, it must be the dependency of some other package. @bljubisic @cschweikert @ManuelFeller would you have time to investigate?

[2021-05-31 07:14] clemensutschig commented on #593
actually I think we should remove it ... (@michaelsauter - what will tailor do, if we remove the bc / is here? ) - I would like to pre-serve it in case you have already installed it.

[2021-05-31 07:25] michaelsauter commented on #593
3.x provides 10, master/4.x provides 12. I think for 3.x we need to keep 10 for backwards compatibility.

@clemensutschig as long as it does not have the same label tailor will not touch it.

[2021-05-31 07:46] ManuelFeller commented on #593
After a quick search I can say that the Package exists: <https://www.npmjs.com/package/aproba/v/1.1.1>

As we had this quite a few times in the past: how is that nexus configured? Very often invalidating the cache solved issues of that type - if for some network hiccup the request from nexus fails it remembers this by default for at least a day and does not recheck.
So my first question to @metmaj

[2021-05-31 07:50] ManuelFeller commented on #593
@michaelsauter we could burden us with a huge amount of fixing issues outside of our normal responsibility if we really go this route. I will open another issue to start a discussion how to deal with that topic...

[2021-05-31 08:01] ManuelFeller opened #594 "How to deal with no longer supported runtimes (or other components)"
In #593 we came across that we now have a node 10 build agent while node 10 itself it goes out of LTS just today.

This means if anything breaks inside of node 10 and we still need to keep the agent buildable we will need to fix node on our own to solve the problem. This may lead to a huge issue regarding maintenance effort, so we should come up with a way how we will handle this in the future - t

[2021-05-31 10:46] michaelsauter commented on #594
I believe the root issue here is that we released ODS 3.0.0 with node 10, when we should have picked a more recent version as node 10 was already ancient back then. ODS releases should have a certain lifetime for which we envision support (e.g. 1 or 2 years), and at least major tech like node should be at a version which should allow for this goal to be feasible.

For the specific problem we face

[2021-05-31 11:49] michaelsauter opened #595 "Ionic quickstarter does not work anymore on NodeJS 10 (3.x)"
Error:
[code]

[2021-05-31 11:50] michaelsauter commented on #593
The error went away but we have a new, related issue: #595

[2021-05-31 11:53] michaelsauter commented on #595
Suggestion: Pin Ionic to a version compatible with NodeJS 10.

[2021-05-31 11:58] ManuelFeller commented on #593
As subsequent builds did not fail with the same issue and the causing package is clearly available in the npmjs repository it was most likely a nexus hiccup as mentioned above.

We have that issue once every few month too; as said at that time you need to invalidate the cache or wait until it invalidates itself. That is why we run with one minute package re-validation time, so no one needs to both

[2021-05-31 11:58] #593 closed

[2021-05-31 12:09] clemensutschig commented on #595
good lord,... why are they overwriting their own versions every other week..

[2021-05-31 12:11] clemensutschig commented on #594
@michaelsauter  - is there a break in nodejs 10 > 12 .. ? if not, I would dump 10 completely now...

[2021-05-31 12:19] clemensutschig commented on #595
@bljubisic can you take a look, and maybe backport your change from master (to pin the CLI and not just the top level version)

[2021-05-31 16:38] bljubisic commented on #595
Hm, Ionic Quickstarter for version 3.x is set to 5.14, which should work with node 10, I will check that. Only master is set to the latest Ionic version.

[2021-05-31 16:40] clemensutschig commented on #595
But on master you install the cli.. and not the full piece

[2021-05-31 17:12] bljubisic commented on #595
On Master it is version of Ionic 6.x which is renamed to Ionic/cli now. That is the difference, and on master it needs Node 12, which is ok, if it is to be used on ODS4, is that right? On ODS 3.x we have Node 10 and Ionic 5.4.16 which is the last version that can use name Ionic, instead of Ionic/cli. I just checked Ionic 5.4.16 with node 10 and it is working as it should.

[2021-06-01 07:12] ManuelFeller commented on #594
There may be, depending what you do: https://nodejs.org/tr/blog/uncategorized/10-lts-to-12-lts/#notable-changes
And that is a quite long list of mostly small but sometimes behavioural changing or removing differences  - not sure if each potential user would still have completely running builds, even if we did not have any known issues so far...

Especially some `fs` changes (`.read` requiring call

[2021-06-01 12:00] clemensutschig commented on #595
hmmm . very interesting -did you use the quickstarter, or ?

[2021-06-01 12:09] clemensutschig commented on #595
ha .. I digged more into the logs ...

the provisioning worked - the build is failing ...
[code]
for some reason (jenkinsfile.template!), it's installing latest ionic I guess ... ? `https://github.com/opendevstack/ods-quickstarters/blob/master/fe-ionic/Jenkinsfile.template#L25` -- :)

so the bug is in the jenkinsfile.template - to pic the 6.x version

[2021-06-02 09:57] bljubisic commented on #595
Hi,

Is there a way to see the whole log? I have tried it on plane ubuntu on docker and Node 10 and everything worked. Maybe there was some additional step that I missed.

[2021-06-15 13:43] albertpuente opened #600 "Invalid character error response when creating new project in OCP4 cluster"
**Describe the bug**
Following an apparently successful installation of ODS4 in an OCP4 cluster, the provisioning app displays an error whenever a new project is created.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the provisioning app and click on the Provision tab.
2. Select create a new project (with a sufficiently privileged technical account).

**Expected behavior**
A new ODS

[2021-06-15 13:44] #600 closed

[2021-06-15 13:44] albertpuente commented on #600
Wrong repo

[2021-06-24 06:09] clemensutschig commented on #595
the whole log is on ods-core / readme linked ... when can we expect a fix here?

[2021-06-24 06:10] clemensutschig opened #603 "e2e cypress quickstarter test results mismatch (4expected 2 found)"
**To Reproduce**
latest logs (master) on ods-core/readme

**Affected version (please complete the following information):**
 - OpenShift: [3.11]
 - OpenDevStack [master]

**Log Output (ensure to remove any confidential information like tokens, project names, etc.**
[code]

looks like at least one spec is not executed?!
[code]

maybe a temp hickup - but here to track..

Expected tests:
https://gith

[2021-06-24 06:18] clemensutschig commented on #603
@cschweikert @m-apsolon can you take a look?

[2021-06-24 07:15] clemensutschig commented on #603
I am wondering, if there is now logic to skip a truly empty test ..

https://github.com/opendevstack/ods-quickstarters/blob/master/e2e-cypress/files/tests/integration/integration.spec.ts

vs.

https://github.com/opendevstack/ods-quickstarters/blob/master/e2e-cypress/files/tests/installation/installation.spec.ts

[2021-06-24 07:16] clemensutschig commented on #603
and I am still trying to find out why this is 4 instead of 2 .. ?!

[2021-06-24 07:17] clemensutschig commented on #603
@herrkoch

[2021-06-24 07:17] cschweikert commented on #603
Hi, the issue came with https://github.com/opendevstack/ods-quickstarters/pull/601

[2021-06-24 07:18] cschweikert commented on #603
3 tests were replaced with 1 -> -2 tests

[2021-06-24 07:28] clemensutschig commented on #603
@cschweikert thanks much .. @herrkoch did you NOT run the tests beforehand?!

[2021-06-24 08:15] #603 closed

[2021-06-24 08:23] herrkoch commented on #603
Oops, sorry, I thought these tests run automatically as part of the checks when I open a PR. :-x Thanks for fixing @clemensutschig !

[2021-06-24 08:48] clemensutschig commented on #603
@herrkoch the CI to build the AMI runs the tests full scale - you need to run make test with the quickstarter ... because a full ods installation is reqired ... I fixed the regression in #604 🗡️

[2021-06-24 09:19] herrkoch commented on #603
Okay thanks, will keep this in mind. I guess I have to wear that hat now for breaking master... 🎩 😉

[2021-06-24 09:32] cschweikert commented on #595
Hi, I could reproduce installation of Angular 12 on my local machine.

I did some exploration on release notes and CLI code. Unfortunatelythe I got pretty much confused by the way they organized the switch from the package `ionic` to `@ionic/cli`. The release notes for example have gaps especially on version the version we use here (`ionic@5.4.16`). I could not even find the word Angular 10, 11 or

[2021-06-24 10:16] cschweikert commented on #595
merging the node 12 agent from master into 3.x will increase that agent's functionallity, but also its size. @michaelsauter Do you see a problem in this?

[2021-06-24 12:04] clemensutschig commented on #595
I think this is the bst option we have - so go from my side? @metmajer any concerns?

[2021-06-24 12:09] michaelsauter commented on #595
@cschweikert size would not concern me that much given the current situation.

The concern I have is that Node 12 is (as far as I understand) not fully backwards to Node 10. So far, for ODS versions we strive for non-breaking changes within one major version of ODS. Swapping the Node version between ODS 3.1.0 and a potential 3.2.0 is against our current approach. However as I don't see a better al

[2021-06-24 13:35] cschweikert commented on #595
@michaelsauter From my point of view moving the Ionic quickstarter to ``jenkins-agent-nodejs12`` is not a backwards compatibility issue since it doesn't affect already created components. They can keep using the "old" ``jenkins-agent-nodejs10-angular``. Also ``jenkins-agent-nodejs10-angular`` will not be touched and ``jenkins-agent-nodejs12`` 3.x would just learn some tricks from the one on master

[2021-06-24 14:29] michaelsauter commented on #595
@cschweikert Oh right since the name differs that works!

[2021-06-24 15:58] bljubisic commented on #595
@cschweikert will you create a PR for this? I totally agree with all of this btw.

[2021-06-25 07:13] clemensutschig opened #605 "ds-rshiny broken (cran.uni-muenster not reachable)"
**Describe the bug**
r package installation fails - cran.uni-muenster.de is broken ..

**Affected version (please complete the following information):**
 - OpenShift: [3.11]
 - OpenDevStack [master]

**Log Output (ensure to remove any confidential information like tokens, project names, etc.**
[code]

[2021-06-25 11:23] cschweikert commented on #595
@bljubisic I can offer to do this starting 5th of July.

[2021-06-25 14:26] cschweikert commented on #595
I created a branch from 3.x with the fix here: https://github.com/opendevstack/ods-quickstarters/tree/fix/switch-ionic-to-nodejs12
I'm 90% sure that it will work like this, but I won't find the time to test it soon.

@bljubisic Can you try running the tests on this?

[2021-06-25 15:03] #605 closed

[2021-06-29 15:28] braisvq1996 opened #609 "R-shiny quickstarter fails to deploy"
**Describe the bug**
When we add a new R-shiny quickstarter into a project it fails to deploy

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Prov-app and add a R-shiny quickstarter
2. The first execution of the pipeline  the component will fail in the Deployment stage

**Expected behavior**
That the quickstarter would be able to be deployed

**Affected version (please complete the

[2021-06-29 15:35] felipecruz91 opened #610 "Scala Jenkins agent runtime error in OCP4"
**Describe the bug**
When running the Scala Jenkins agent in OCP4, the container starts and fails immediately after a `FileNotFoundException` error, entering in a fail loop forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Scala Quickstarter to your project.
2. Check the Jenkins build log.
3. See error

**Expected behavior**
To have a successful build of the Scala Jenkins agent

[2021-06-29 16:49] gerardcl opened #611 "be-gateway-nginx switch from centos"
**Is your feature request related to a problem? Please describe.**
We are currently using centos7 base image for the be-gateway-nginx quickstarter. Since centos is not not any longer maintained, and althought the current quickstarter works, we will face obvious issues soon and also some issues might happen already when trying to update the repos or adding other packages for example.

**Describe th

[2021-06-30 06:17] michaelsauter commented on #611
Is there an easy way to use a UBI base image?

[2021-06-30 07:05] bljubisic commented on #595
I will test this ASAP and let you know how it goes

[2021-06-30 11:13] bljubisic commented on #595
Tested localy on docker ubuntu, and everything works as it should. Confirm the same error with node 10 on the same setup

[2021-06-30 14:52] #609 closed

[2021-06-30 14:57] gerardcl commented on #611
I can take a look on the dockerfile openresty uses and try exchanging with an UBI base one but I would fire another issue for that, shall we?

AFAIK there is an nginx UBI base image already so maybe we could even benefit from that one and just compile missing pieces...not sure, have to check!

[2021-06-30 14:59] gerardcl commented on #611
so basically, if the Dockerfile gets too big or "not nice" we could have a base image from an ODS core point of view maybe, what do you think? I guess that could be one of the ways to solve this centralisation of patch management also...

[2021-07-01 06:13] michaelsauter commented on #611
I'd avoid another layer. What would this shared base image contain? I am rather in favour of small, specialised images - now with OpenShift 4 we can also make more use of build stages producing images which only contain the really necessary stuff.

[2021-07-01 17:28] jorge-romero opened #623 "Error passing tests building the developer box - scala agent / vm err"
**Describe the bug**
After trying to build a new ODS Box, based in the scripts provided '/ods-core/ods-devenv/scripts/run-on-aws.sh' based in the branch feature/aqua-configmaps, that was created based in the master branch, the suite of tests that is executed finalize failing

Nothing has been changed related with the test that had been executed.

**To Reproduce**
Steps to reproduce the behavior:
1

[2021-07-03 12:01] gerardcl commented on #611
did not know! cool! so, here my thoughts -> shouldn't that be targetted once we don't support OpenShift 3.11 anymore? Maybe for ODS3 and 4 we can keep current state and once we start targetting ODS5 we jump into this OpenShift4 feature?

[2021-07-05 10:05] jorge-romero opened #619 "Scala agent build fail, it is forbidden to download sbt-1.3.13.rpm"
**Describe the bug**
Building the scala agent fails when it tries to download sbt rpms.

If you try to download the rpm as it is done in the quickstarter 'curl -O -L http://dl.bintray.com/sbt/rpm/sbt-$SBT_VERSION.rpm' it fails as it is forbidden to download the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Rebuild the scala agent.
2. Build will fail, and if you check the downloaded f

[2021-07-05 10:05] jorge-romero commented on #619
@michaelsauter could you have a look at that or point it to the right person.

[2021-07-05 13:13] michaelsauter commented on #619
@oalyman Could you have a look?

[2021-07-05 15:29] bljubisic commented on #595
I have opened the pR for this, hope its ok @cschweikert

[2021-07-06 12:27] oalyman commented on #619
@jorge-romero @michaelsauter There seems to be no bintray anymore... https://jfrog.com/center-sunset/
I will check for the current right way to install sbt and update the agent

[2021-07-07 11:07] #611 closed

[2021-07-07 11:40] gerardcl commented on #611
@michaelsauter  I have closed the issue via the merge of the related PR, we can continue the discussion though :)

[2021-07-08 08:40] #619 closed

[2021-07-09 11:42] #623 closed

[2021-07-10 09:58] clemensutschig commented on #610
how come this is working in the CI?

[2021-07-10 09:59] clemensutschig opened #625 "3.x - scala agent broken"
**Describe the bug**
[code]

[2021-07-10 10:24] clemensutschig commented on #610
Thats super weird..  really... we can set it to r+w

[2021-07-10 14:44] clemensutschig commented on #610
Do you See the same with spring/gradle?

I guess in the ubi Images the keystore rights changed

[2021-07-16 07:25] braisvq1996 opened #627 "R-shiny quickstarter failed to build"
**Describe the bug**
The build of the R-shiny quickstarter is falling to build the image from the dockerfile available in GH from the master branch

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new OD project
2. Add the R-shiny quickstarter
3. The Openshift build stage will fail

**Expected behavior**
That the Openshift build stage works

**Screenshots**
![image](https://user-imag

[2021-07-16 07:38] felipecruz91 commented on #627
I tried building the image in my local and I get the same error

[2021-07-16 08:16] braisvq1996 commented on #627
Great @felipecruz91, with that flag the Openshift build does work.

[2021-07-16 08:49] felipecruz91 commented on #627
@michaelsauter Is it OK to create a PR with the change aforementioned?

[2021-07-16 16:31] gerardcl commented on #627
did you also try to enable the proxy at image level? with export HTTP_PROXY and so on?

[2021-07-19 06:18] braisvq1996 commented on #627
@gerardcl - We already make use of the proxy as environment variables when building the images:
![image](https://user-images.githubusercontent.com/26645694/126111779-633b360e-eb91-4b68-a747-e28056f001b3.png)

[2021-07-20 10:33] gerardcl commented on #627
@felipecruz91 does that handles empty/no proxy? or you would need two different commands within a met condition?

[2021-07-21 16:21] tbugfinder opened #628 "Azure Quickstarter"
**Is your feature request related to a problem? Please describe.**
Today an AWS Quickstarter is included. Most users utilize additional cloud providers like GCP, Azure or Alibaba.

**Describe the solution you'd like**
ODS-Quickstarters should support Azure as an additional cloud provider (others could follow).

**Describe alternatives you've considered**
Using the baseline of  inf-terraform-aws qu

[2021-07-21 16:40] metmajer commented on #628
Hmm....

[2021-07-22 08:12] nichtraunzer opened #629 "AWS Plain QS - AWS Accounts are mapped to the same variables"
**Describe the bug**
AWS account information (TESTING/D/Q/P) is stored in the OC projects secret store. Mapping to TESTING,D,Q & P is handled via separate environment yaml files. Currently these files are created during the QS provisioning process from the same template file. Which means that each environment points to the same account information:
https://github.com/opendevstack/ods-quickstarters

[2021-07-23 10:43] braisvq1996 commented on #627
@gerardcl , I think that it is not able to handle empty values.
Maybe we can have an if statement to check if the proxy is set as an environment value?

[2021-07-26 12:47] #627 closed

[2021-07-26 16:09] metmajer opened #631 "AWS Quickstarter: Refactor Jenkinsfile contents into a dedicated shared library"
In the near future, we will have several AWS-related Quickstarters to make heavily sought-after Cloud services more easily consumable. Therefore, we will benefit from a refactoring of the contents of the current AWS (Plain) Quickstarter's Jenkinsfile into a dedicated shared library, for example `ods-aws-jenkins-shared-library`.

As a result, the bulk of operations would be inside this dedicated Je

[2021-07-26 16:15] gerardcl commented on #628
Hi!

I have been thinking about the current approach, here a thought: if we are mainly targetting using terraform for infrastructure as code (as in the inf-aws-terraform), why don't we just target to be even more generic up to "inf-terraform"?

[2021-07-26 16:45] metmajer commented on #628
Apologies @tbugfinder @nichtraunzer, if it appears as if there was low interest on my end. In fact, I got disrupted but somehow managed to still send my comment.

Anyway, the Azure Quickstarter was highly awaited. Thanks for taking the initiative. I would like to ensure that the team who owns the service also has a good understanding of the Quickstarter, so please make this a (scalable) team effor

[2021-07-26 18:45] gerardcl commented on #628
hi @metmajer,
keeping the discussion of a generic terraform quickstarter and based on your last comment -> since terraform is based on providers and one can easily modularise (so reuse and so on) any resource/component context, wouldn't it make sense to provide those as terraform modules maybe? so one could select whatever module to use based on the provider?

this is also food for thoughts for yo

[2021-07-26 20:21] tbugfinder commented on #628
Hi @gerardcl , a generic terraform quickstarter sounds reasonable however it quickly gets (cloud) provider agnostic. So it depends on what a quickstarter should really provide and which additional modules ODS space would provide.
It even sounds like the contrary edge case was just mentioned in https://github.com/opendevstack/ods-quickstarters/issues/631 with even having a quickstarter ready for a

[2021-07-27 13:46] gerardcl commented on #628
Hi @tbugfinder , I totally agree with all you've mentioned and also in the issue related, I understand the points and all goes in the same direction, which I think is of trying to provide the rightest customer experience and also maintenance experience AFAIK.
Having said that, the approach I am suggesting is to go more on the direction of providing a solution that focuses more on the technology pr

[2021-07-28 07:47] nichtraunzer commented on #628
hi @gerardcl, though i fully agree with @tbugfinder I see your point here, too. Maybe this is a good opportunity to discuss this topic in one of our upcoming touch point sessions I scheduled today.

[2021-07-28 10:52] jssnull opened #632 "Docgen test failing in corporate proxy env - github not accessible"
Command:
[code]
Test suite failing:

[code]
Stacktrace
[code]

Seems to be related with proxy settings

[2021-07-28 10:53] clemensutschig commented on #632
@metmajer - well .. this is a tricky one .. the only thing I can envision is to create a gradle.properties in case `HTTP_PROXY` etc exists in the env ... thoughts?

[2021-07-28 13:13] clemensutschig commented on #632
We could generate gradle.properties during provisioning

[2021-07-28 21:47] tbugfinder commented on #628
Would it be a valid approach to have a terraform quickstarter without following provider specifications:
[code]

Based on the slim-terraform-quickstarter the provisioning would provide a "cloud" provider selection (azure/aws/both/...) and walk through a merging phase so that either choice will be provisioned into the target repository.

Would you such still consider being a definition of a Quickst

[2021-07-29 06:06] clemensutschig commented on #632
@jssnull  - did you try as we discussed yesterday?

[2021-07-29 06:29] jssnull commented on #632
yes, I got the same error

[2021-07-29 09:41] nichtraunzer opened #633 "AWS Quickstarter: Smoke Test fails when DEV region <> TESTING region"
**Describe the bug**
The QS is using the wrong region for the smoke test. It uses the region from the testing account.

https://github.com/opendevstack/ods-quickstarters/blob/468026ad7bd1f92dbe718b4d4af43ede5bb3f509/inf-terraform-aws/Jenkinsfile.template#L153

**To Reproduce**
If DEV region <> TESTING region jenkins will report an error:
`Stack with id stack-aws-quickstarter does not exist`

**Exp

[2021-07-29 20:58] gerardcl commented on #628
hi @tbugfinder !

I think I need to understand more the current approach. Looking forward for the next session!

Nevertheless, I am just trying to challenge the concept based on what I have experienced so far. Happy to keep the discussion and maybe providing some help!

[2021-07-30 06:04] metmajer commented on #628
@tbugfinder @gerardcl in all fairness, I would not know how much a "Quickstarter" makes sense if a user would have to wire so much tooling, including testing frameworks again? The beauty of a Quickstarter is that such wiring and usage examples are included.

[2021-08-02 10:03] nichtraunzer commented on #631
Apart from reducing the amount of duplicated code we will increase stability, because we remove the possibility of interacting with standard execution context methods through the end user. We also got cleaner interfaces which reduces the amount maintenance efforts.
The upcoming Tekton (@felipecruz91) initiative would largely benefit from a refactored Jenkins file, too. Having just method calls for

[2021-08-02 18:56] tbugfinder commented on #628
I don't think the question is about moving customization down to the user, but rather duplicate and maintain as less code as possible. AWS and Azure QS share a baseline.
A PR will show differences between AWS and Azure which are rather minimal.
Maybe a helper like [cookiecutter](https://github.com/cookiecutter/cookiecutter) could merge what's needed when provisioning app creates an instance of the

[2021-08-03 14:28] nichtraunzer commented on #631
Today I met with @gerardcl and @michaelsauter. Both struggle a little bit with the situation that you requested a dedicated shared library, but apart form that they like this.
@gerardcl offered to provide me some kickstart on that an we can do a pair programming session and do some testing in an ODS in a Box. He will also provide some more technical aspects separately.

[2021-08-03 14:48] gerardcl commented on #631
hi!

yes, we were discussing the approach to tackle this and we discussed among two main options first:

1- the one already proposed: having a dedicated and separated shared library for the quickstarter (or maybe more than just the AWS and maybe more infrastructure/terraform wise).

2- another proposal would be to start implementing this from a shared lib service point of view as we have already s

[2021-08-03 14:53] gerardcl commented on #628
@tbugfinder see the discussion going on here too https://github.com/opendevstack/ods-quickstarters/issues/631

[2021-08-03 16:03] metmajer commented on #631
Hey @gerardcl and @nichtraunzer. Just adding some thoughts...

- If we were designing the shared library again today, knowing that we'll not only delivery applications into OpenShift, but also Cloud, Salesforce, SAP, etc. we'd most likely come up with a set of shared libraries, e.g. a foundational and one for each target platform. Maybe this is just how I would do it :)
- Now that target runtime p

[2021-08-03 21:29] gerardcl commented on #631
hi!

I see the points, but also by following on the thoughts on your last paragraph I then see even less need on creating another jenkins shared library if that is anyway going to be deprecated on the new ods-pipeline architecture. Or are we expecting long live-time?

The 2nd proposal targets going into the direction of less effort for implementing such requirement of new stages provided by ODS fo

[2021-08-04 06:31] metmajer commented on #631
Well, I am not sure when exactly we can switch over to Tekton in the enterprise, and I assume that we'll have a longer timespan where both Jenkins and Tekton will be in use given there are lots of brown-field applications. So, I look at it this way:

- A Jenkins Shared library exposes entry-points in the `vars/` folder, but imports functions from a `src/` folder.
- Each Tekton task has its entry-p

[2021-08-04 07:00] michaelsauter commented on #631
@metmajer I think you raise an interesting point regarding versioning. So far, we sidestepped this issue in ODS by releasing everything in one big blob. Going forward, I agree with you that this will not work. It would be desirable for a quickstarter to evolve separately from the rest of ODS. However, to do that change I believe we need to solve some questions first:

* Should each quickstarter th

[2021-08-05 12:17] #629 closed

[2021-08-05 15:52] metmajer commented on #631
@michaelsauter great questions, does not make it easier. I agree with putting stuff into the existing lib to avoid duplication. Modularity can be the next topic. I'd like to work out a solution with the team by the end of the year. Quickstarter development is getting traction. Thanks!

[2021-08-05 17:04] metmajer commented on #7
@gerardcl @michaelsauter do we know already where UBI images are not a good fit? I assume that the quickstarter owners handle the migration to UBI where needed? Please consider that, now with the use of Aqua, vulnerabilities will be alerted in production, which emphasises the use of secure base images.

FYI @maksymmaksym

[2021-08-06 07:16] michaelsauter commented on #7
At least I haven't done much research so far. However, I had some touchpoints with UBI images in the https://github.com/opendevstacl/ods-pipeline project. There we use only UBI based images, and this works well. We are able to build everything locally (pulling unauthenticated from access.registry.redhat.com) and in the cluster (pulling from registry.redhat.io). We already have images to build Go,

[2021-08-06 07:22] metmajer commented on #7
@michaelsauter I see it the same. I am also scared about an unpredictable number of incidents in production due to non-maintained base images. Shall we plan a slim release end of summer on top of 4.x that migrates to UBI images?

[2021-08-06 07:30] michaelsauter commented on #7
@metmajer Makes sense to me. I think the biggest effort is not updating the GitHub repo, but pushing that change through the organisation as every repo needs to be touched to change the `Dockerfile`.

[2021-08-06 08:21] metmajer commented on #7
@michaelsauter we are running a migration project for all use-cases on OCP3 -> OCP4. The sooner the better. If it's simple, let's do it now, as part of ODS 4.0.

[2021-08-09 10:03] michaelsauter opened #636 "Flask quickstarter is not protected from CSRF by default"
A newly provisioned Flask quickstarter is immediately flagged by SonarQube:

The recommended action is to change:
[code]

to:
[code]

@gerardcl @henrjk @buegelbeatz Do you see any issues doing that change?

[2021-08-11 09:23] metmajer commented on #512
FYI @felipecruz91

[2021-08-11 10:49] felipecruz91 opened #637 "`3.x` and `4.x` CI builds are failing"
**Describe the bug**
The 3.x and 4.x CI builds report a failure due to a missing CentOS package (`xorg-x11-server-Xvfb-1.20.4-10.el7.x86_64.rpm`) when building both the `jenkins-agent-nodejs12:latest' and `jenkins-agent-nodejs12:3.x` images.

Both images use the package aforementioned here:

- [Dockerfile.rhel7](https://github.com/opendevstack/ods-quickstarters/blob/4.x/common/jenkins-agents/nodej

[2021-08-11 11:06] felipecruz91 commented on #637
This seems to have been an intermittent issue. Closing it for now.

[2021-08-11 11:06] #637 closed

[2021-08-12 06:09] gerardcl commented on #636
LGTM! shouldn't affect current behaviour nor tests 👍

[2021-08-12 06:17] gerardcl commented on #636
hi @michaelsauter  ! could be that you tested this fix from here in the ods-pipeline? if that was successful I guess we can just promote it, right? do you want me to do that? everywhere?

[2021-08-12 06:28] gerardcl commented on #7
hi! what are the expected timelines?

for me it also make sense, keeping in mind that users might change that anyway, but that is a known and expected behaviour which then should be tackled at team level (vulnerabilities found and so on...)

-> we could run a small spike with all the related responsibles of the quickstarters and make this happen? I guess some of us are now on vacations but maybe b

[2021-08-12 07:00] michaelsauter commented on #636
@gerardcl I tried, but I failed ... `CSRFProtect` needs to be imported I think but I did not investigatee further as it is quite irrelevant for the `ods-pipeline` project as there is is only used in the tests.

[2021-08-20 09:56] gerardcl opened #639 "openshift template v1 annotation depcreation"
**Describe the bug**
OpenShift templates are deprecating `v1` in favour of `template.openshift.io/v1`.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a quickstarter (e.g.: be-java-springboot)
2. Go to the master branch pipeline
3. See warning

**Expected behavior**
We should handle such deprection warning

**Affected version (please complete the following information):**
 - OpenShift

[2021-08-20 10:05] michaelsauter commented on #639
@gerardcl thanks for the heads up! It does not affect `ods-pipeline` though as `ods-pipeline` targets Kubernetes, not OpenShift exclusively. Therefore we do not make use of any OpenShift-only functionality such as OpenShift templates. All manifest templating in `ods-pipeline` is based on Helm, which works with plain Kubernetes but can also create OpenShift-specific resources now such as routes and

[2021-08-24 09:33] #639 closed

[2021-08-24 09:34] gerardcl commented on #639
@michaelsauter shall we add this to 4.x?

[2021-09-02 09:09] gerardcl opened #642 "nodejs 12 jenkins agent build failing on ODS 4.x"
**Describe the bug**
Looks like due to not defining the https://github.com/opendevstack/ods-quickstarters/blob/ca1faff5f01b454fdc47580512407bb2ab4fbce7/common/jenkins-agents/nodejs12/docker/yum.repos.d/google-chrome.repo#L3 as `https`, and no redirect handler, looks like that is the root cause of the issue we have (see logs below). If one targets the repos with `https` the packages are found.

**T

[2021-09-03 07:43] #642 closed

[2021-09-07 12:13] braisvq1996 opened #645 "Maven and Scala agents are not able to build with Red Hat image base"
**Describe the bug**
We are updating to ODS 4 and we found out that the agents for Scala and Maven fail during Openshift build

**To Reproduce**
Steps to reproduce the behavior:
1. Install or update to ODS 4
2. Build agent base with the base image from **_registry.access.redhat.com/openshift3/jenkins-slave-base-rhel7:v3.11_**
3. Build Maven or Scala agent
4. See error

**Expected behavior**
It wou

[2021-09-07 12:14] braisvq1996 commented on #645
it seams to be due to a package from Red Hat image base

![image](https://user-images.githubusercontent.com/26645694/132342639-6739449b-cd87-4039-9217-d93cd2847648.png)

[2021-09-07 14:14] gerardcl commented on #645
@braisvq1996 could it be that you need to ask update the  RH Satellite mirroring for that cluster?

[2021-09-09 08:17] maksymmaksym commented on #7
It will be very inefficient if every project in prod cluster would need to fix the same vulns over and over

[2021-10-11 07:54] renedupont opened #651 "Use Java 17 (LTS) in maven jenkins-agent and spring boot quickstarter"
Java 17 has been released a couple of months ago. Since it is an LTS version, it might make sense to use it. Currently we are at Java 11.
Once we on it, we could also update gradle in the spring boot quickstarter, we are 3 major versions behind.

Any reason what would speak against it? Too early?

[2021-10-11 09:21] renedupont commented on #651
@metmajer yes makes sense, that's what I "feared" 😄

@stitakis I was also refering to the (maven) agent which does
`FROM opendevstackorg/ods-jenkins-agent-base-ubi8:latest`
and then adds java 11 (https://github.com/opendevstack/ods-quickstarters/blob/master/common/jenkins-agents/maven/docker/Dockerfile.ubi8)
without the agent being on 17 we can't build them on it.

[2021-10-11 09:23] metmajer commented on #651
@stitakis if you do not wait, it means that the owners of this quickstarter will have more work sorting out security incidents themselves vs. being supported by a vendor.

[2021-10-11 09:27] renedupont commented on #651
@stitakis just to clarify, you meant regarding eclipse-temurin not the new official open jdk source, but rather new **adopt** open jdk, right?

[2021-10-11 09:49] metmajer commented on #651
@stitakis what about you make the Quickstarter with jdk 17 available on a feature branch that you release into the BIX cluster and leave both master and 4.x intact? Just to clarify, with security scanning being activated on all new clusters, we want to reduce the likelihood for vulnerabilities. The best way to keep the house clean seems to be that all quickstarters are based on a common, secure fo

[2021-10-11 09:54] stitakis commented on #651
@metmajer ok, I see... it looks to early to upgrade to jdk 17 based on an ubi image

[2021-10-11 10:15] renedupont commented on #651
Correct me if I'm wrong, but if you write your app in Java 17 but try to build it with an agent that only has Java 11 installed, it will fail.

[2021-10-19 11:24] gerardcl opened #652 "be-gateway-nginx fails on ODS 3.x due to SSL certs path not found"
**Describe the bug**
See https://github.com/opendevstack/ods-core/issues/1052

**To Reproduce**
Steps to reproduce the behavior:
1. On an ODS 3.x project
2. Provision the `be-gateway-nginx`
3. Deployment fails due to SSL certs path not found
4. See error

**Expected behavior**
Full provision should succeed.

**Screenshots**
N/A

**Affected version (please complete the following information):**
 -

[2021-10-19 11:44] gerardcl commented on #652
fixed by https://github.com/opendevstack/ods-quickstarters/pull/653

[2021-10-19 11:44] #652 closed

[2021-10-24 08:46] metmajer opened #654 "TypeScript/Express Quickstarter: Does not use correct path to store xUnit file"
**Describe the bug**
Quickstarters need to store their test results in the xUnit format under `build/test-results/test` per default, unless they advise the shared library to look in an alternative path. Example: https://github.com/opendevstack/ods-quickstarters/blob/master/be-golang-plain/Jenkinsfile.template#L57.

The TypeScript/Express Quickstarter does not put the xUnit file into a location sup

[2021-10-24 20:23] tbugfinder opened #655 "inf-terraform-aws - stage smoke should be named "Smoke - Test""
inf-terraform-aws - stage smoke should be named "Smoke - Test" or "SmokeTest".

https://github.com/opendevstack/ods-quickstarters/blob/aafa5b3db91a72f30b5c4111d557ffe1cbbadba8/inf-terraform-aws/Jenkinsfile.template#L146

[2021-10-25 13:12] stitakis opened #656 "jenkins nodejs12 agent build failing due to incompatible chrome package with centos 7"
Build of jenkins nodejs12 agent is failing due to incompatible chrome package with centos 7.

This error:
[code]
caused the E2E Test "TestVerifyOdsNamespaceImages" to fail:
[code]

It looks like the problem is that the latest chrome version is not compatible with centos 7, because it doesn't include the GLIBC  2.18.

As fix, I propose to update the jenkins nodejs12 agent to not download the latest

[2021-10-26 08:13] #656 closed, assigned to stitakis

[2021-11-03 17:01] cschweikert opened #662 "fe-angular can't resolve dependencies on newer nodeJS versions"
The current fe-angular quickstarter fails installing the dependencies on machines with current versions of nodejs (nodeJS 16.4 with npm 8.1.0 and maybe also lower) while it is running successfully on a nodeJS 10 based build agent in Jenkins (`ods/jenkins-agent-nodejs10-angular:3.x`).

Steps to reproduce the behavior:
1. provision an fe-angular quickstarter
2. clone the new repository locally
3. ru

[2021-11-04 18:01] tbugfinder opened #665 "inf-terraform-aws - preserve errored.tfstate file in case of write failure in make deploy"
In case terraform cannot upload the state file to the configured bucket it writes it to a file `errored.tfstate`.
It is important to preserve this file so that manual error handling can be done (e.g. upload file manually).

In addition it might be beneficial to check before that permissions and infrastructure setup is properly configured for running the terraform deploy command.

https://github.co

[2021-11-04 18:02] tbugfinder commented on #665
Error message:
[code]

[2021-11-08 10:30] #654 closed

[2021-11-08 10:34] metmajer commented on #654
@gerardcl @bljubisic correct!

[2021-11-09 19:52] tbugfinder commented on #655
Validation might be a reserved term.

[2021-11-09 20:00] #267 closed

[2021-11-09 21:45] metmajer commented on #655
Deployment Tests are a standard term. In the book continuous delivery, smoke tests are named as an alternative name.

[2021-11-09 22:32] SHoen commented on #477
I stumbled over the same error and noticed that the generated Basic Auth Header of the token request was incorrect.

I updated the password of the bitbucket user in the yml of `cd-user-with-password` with Base64 encoded string generated by bash: `$ echo myfancypass | base64 ` Unfortunately it added a newline in the encoded string which lead to this error.

Using `echo -n myfancypass | base64 ` ins

[2021-11-10 07:23] gerardcl commented on #655
I would vote for "deployment tests" since it is the one clearer to me on what is that stage doing

[2021-11-19 09:15] clemensutschig opened #672 "4.x CI broken - docgen invalid CI - dc params on memory are wrong"
**Describe the bug**
Regression from: opendevstack/ods-quickstarters#669

https://github.com/opendevstack/ods-quickstarters/blob/master/release-manager/ocp-config/cd-docgen.yml#L18

which results in:
[2021-11-19T06:34:55.166Z] [0;32m    amazon-ebs: +        - name: JAVA_MEM_XMX[0m
[2021-11-19T06:34:55.166Z] [0;32m    amazon-ebs: +          value: 512m[0m
[2021-11-19T06:34:55.166Z] [0;32m    a

[2021-11-19 09:19] clemensutschig commented on #672
`Mi` instead of `m` is the fix - @segator we need this for all three branches - and @angelmp01 needs to move tags (I guess)

[2021-11-19 09:23] clemensutschig commented on #672
the rendered yml
[code]

[2021-11-19 10:05] #672 closed

[2021-11-19 17:33] jchaves opened #674 "e2e-cypress quickstarter hangs on 'verify'"
**Describe the bug**
While building a repository created with Cypress quickstart on ODS4, it fails to run

Cypress seems to try and launch a self-verification on install, and that causes the whole build to crahs after the default timeout of 30000 miliseconds

**To Reproduce**
1. Provision a Cypress quickstarter project
2. trigger the pipeline
3. See error

**Expected behavior**
The default quickst

[2021-11-19 17:34] jchaves commented on #674
@segator @braisvq1996

[2021-11-19 17:56] clemensutschig commented on #674
Can you cat /home/jenkins/.npm/_logs/2021* then we see the output

[2021-11-20 10:38] segator commented on #674
We already tried to increment the timeout to 2 minutes and same issue, no cpu usage so far.
the command just get stucked, we tried the container outisde the cluster and works nice.
Seems not a proxy issue we tried on the terminal of the pod curl to site under test and working..

[2021-11-20 10:44] clemensutschig commented on #674
@segator - what happens if you run the build again - same error?

Can you try to modify the jenkinsfile with npx verify as written on stackoverflow?

[2021-11-22 08:43] clemensutschig commented on #674
https://github.com/cypress-io/cypress/issues/7158 has a couple of ideas (including chmod on /home/jenkins) - maybe here lies our problem..

[2021-11-22 09:49] braisvq1996 commented on #674
I have tested cypress component in July in our DEV environment and it worked, I have just re-run it and it fails with the same error as in QA

[2021-11-22 09:53] metmajer commented on #674
@braisvq1996 @segator we can't properly analyse without logs. Will you provide them?

[2021-11-22 09:53] glyk0n commented on #674
* Does this happen on qa only? Maybe the site under test is down ?
__No, it also happens in dev. We think it is at the cluster level__
* https://swingli.com/how-to-fix-cypress-verification-timed-out-exception/#
__This was tested with no successful result__

__Attached log you request__
[2021-11-22T09_44_45_072Z-debug.log](https://github.com/opendevstack/ods-quickstarters/files/7579850/2021-11-22T0

[2021-11-22 09:58] metmajer commented on #674
Cheers @glyk0n! @braisvq1996 can you try the suggestion?

[2021-11-22 10:27] clemensutschig commented on #674
Hmm @cschweikert can you help here maybe with turning on more logs?

[2021-11-22 10:40] braisvq1996 commented on #674
I have run 4.x cypress quickstarter in PROD and it works, there must be something in the DEV/QA cluster that is making this fail

[2021-11-22 10:51] clemensutschig commented on #674
WTF - this is really scary

[2021-11-22 13:36] cschweikert commented on #674
Hi everybody, here are some more ideas:
* Are all envs pulling and using the exact same version of `jenkins-agent-nodejs12:4.x`? There was a fix in 4.x lately (#642).
* Could it be a memory issue? What if some Chrome process or so crashes while it requires more memory. Try adding this to the `Jenkinsfile`:
[code]
* I was wondering about the ``--no-sandox`` wtihin the log (see inside the actual err

[2021-11-22 15:17] braisvq1996 commented on #674
I have build the same image for both clusters (QA and PROD) and in PROD works but not in QA.
Both are using default resources for the agent (1 core, 2 GiB memory)

[2021-11-22 15:57] cschweikert commented on #674
### package-lock.json
The quickstarter doesn't come along with a `package-lock.json`. Please make sure to make builds by also having the `package-lock.json` under version control. Otherwise two builds are basaically not comparable.

### postinstall
I can't `npm install` part inside of the logs above. Did the postinstallation of cypress work well? Should look a bit like this:
[code]

### what else

[2021-11-24 09:10] stitakis opened #676 "security issue in ds-jupyter qs related to vulnerable nltk dependency"
github dependabot reported a security issue in ds-jupyter-lab quickstarter
https://github.com/opendevstack/ods-quickstarters/security/dependabot/ds-jupyter-lab/files/docker/requirements.txt/nltk/open

[2021-11-24 09:12] stitakis commented on #676
@gerardcl we are creating an issue for the dependabot reported findings and asking the quickstarter owner to review. Could you please have a look at this one? Thanks

[2021-11-24 09:14] stitakis opened #677 "security issue in inf-terraform quickstarter related to vulnerable addresable dependency"
github dependabot reported following security issues related to
-  inf-terraform quickstarter:
https://github.com/opendevstack/ods-quickstarters/security/dependabot/inf-terraform-aws/files/Gemfile.lock/addressable/open

- and the corresponding jenkins agent
https://github.com/opendevstack/ods-quickstarters/security/dependabot/common/jenkins-agents/terraform/docker/Gemfile.lock/addressable/open

[2021-11-24 09:15] stitakis commented on #677
@frankjoas @metmajer @nichtraunzer @tbugfinder we are creating an issue for the dependabot reported findings and asking the quickstarter owner to review. Could you please have a look at this one? Thanks!

[2021-11-24 09:25] gerardcl commented on #676
hi @stitakis , as per the dependabot message, one just needs to upgrade the version, it won't affect anything else, we could even remove that package if really an issue. Nevertheless, I don't see it really being a critial or high vulnerability as per the way that lib can be used.

[2021-11-24 09:33] stitakis commented on #676
thanks for the feedback. The dependabot offer the "dismiss" button to disable the finding for cases where the finding is not applicable and other cases. It sound to be that this could be the case. The fix sounds easy, would you provide the upgrade or prefer to dismiss the finding?

[2021-11-24 09:45] gerardcl commented on #676
closing this issue, see https://github.com/opendevstack/ods-quickstarters/pull/678

[2021-11-24 09:45] #676 closed

[2021-11-24 15:40] nichtraunzer opened #679 "AWS Quickstarter: reports/installed directory missing"
When deploying the QS with the prov app the reports/install directory will not be deployed though it is part of the quickstarters files directory.

reports/install is used to keep some temporary files for the document creation.

it seems we run into some sort of chicken egg issue because though there is a .gitkeep in this directory reports/install itself is mentioned in the .gitignore file as well

[2021-11-24 15:48] michaelsauter commented on #679
Hehe, I think you are looking for this: https://stackoverflow.com/questions/4250063/how-to-gitignore-all-files-folder-in-a-folder-but-not-the-folder-itself :)

[2021-11-24 17:07] nichtraunzer commented on #679
exactly - found this too https://medium.com/@kinduff/hey-git-please-keep-those-folders-eb0ed37621c8

[2021-11-24 17:32] nichtraunzer opened #680 "AWS Quickstarter: Stage Smoke will be executed though Stage Deploy raised an AlreadyExistsException"
When deploying a CloudFormation Stack with the QS, and a Stack with the same name exists already terraform raises an "AlreadyExistsException"
`
Error: creating CloudFormation stack failed: AlreadyExistsException: Stack [stack-aws-quickstarter] already exists
`
That behavior is expected and correct. But this error is not handled by Jenkins, because it still proceeds, calls the next stage (smoke) an

[2021-11-25 09:58] nichtraunzer commented on #677
are provided links supposed to work ?

[2021-11-25 10:44] metmajer commented on #677
@nichtraunzer they are working for me:

<img width="1116" alt="Screenshot 2021-11-25 at 11 44 00" src="https://user-images.githubusercontent.com/873565/143427237-c26f2e21-57f5-438a-9b63-98a6b2aea7df.png">

[2021-11-25 10:55] nichtraunzer commented on #677
Thanks @metmajer - I guess I am lacking some access rights.
@stitakis : is that needed for the current 4.x / 1.2 release ? no version has been specified in the issue

[2021-11-25 11:09] stitakis commented on #677
The dependabot doesn't specify the affected branch. Please coordinate with @metmajer for providing a fix for 4.x

[2021-11-25 17:12] braisvq1996 opened #681 "DocGen resoures configuration issue"
**Describe the bug**
Currently DocGen has [512MB as resoureces limit](https://github.com/opendevstack/ods-quickstarters/blob/master/release-manager/ocp-config/cd-docgen.yml#L21) and java is set to [xmx 512m](https://github.com/opendevstack/ods-quickstarters/blob/master/release-manager/ocp-config/cd-docgen.yml#L27) also, this may cause problemes as there is not only java running in the container, l

[2021-11-25 17:21] tbugfinder commented on #677
I also get 404 when trying to access the links.

[2021-11-25 21:31] nichtraunzer commented on #680
terraform apply throws exit code 1
[code]

[2021-11-26 08:44] henrjk opened #682 "python quickstarter uses system python instead of expected version"
**Describe the bug**
The Jenkins Agent for python installs a desired python version currently 3.8.
However this does not replace the system version and so one must invoke it with `python3.8`. This is not currently done in the Jenkinsfile so that the Quickstarter build runs on the system python (currently a 3.6) version.

**To Reproduce**
Steps to reproduce the behavior:
1. Provision python quickst

[2021-11-26 12:54] nichtraunzer opened #683 "AWS Quickstarter: Update default Cloudformation Example"
**Is your feature request related to a problem? Please describe.**
The default CF stack creates a public readable website on an s3 bucket - in China this can cause issues.

**Describe the solution you'd like**
Remove the website feature.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2021-11-30 08:16] nichtraunzer commented on #680
Verifying exit status in Jenkins file. Also checkwaht the @ in the makefile means ...

[2021-12-03 12:45] braisvq1996 opened #685 "Python agent does not seems to have java in the path"
**Describe the bug**
After the installation of OpenDevStack 4.x into Openshift 4.9 cluster we created a project and added all the quickstarters to verify that everything works but the python agent is not able to run, it crashes continuously

**To Reproduce**
Steps to reproduce the behavior:
1. Build agent-base (with registry.redhat.io/openshift4/ose-jenkins-agent-base:v4.7 as build from)
2. Build

[2021-12-03 13:07] braisvq1996 commented on #685
Adding `PATH=$JAVA_HOME/bin:$PATH` to the environment variables in the dockerfile seems to fix this

[2021-12-03 13:08] gerardcl commented on #685
@henrjk FYI!
@braisvq1996 we got into this issue and opened first an issue to RH since we thought it was related to the base image from RH changed on the way. we will try that! thanks!

[2021-12-06 09:19] gerardcl commented on #685
@braisvq1996 I believe you are keeping this open because you plan to have this also in master branch, right? thanks! just in case! 👍

[2021-12-07 11:16] clemensutschig opened #689 "maven agent does not support HTTPS proxy"
**Describe the bug**
today only http proxy is supported - this is a huge limitation in a corporate network (and when people need to go out for non nexus repos)

https://github.com/opendevstack/ods-quickstarters/blob/master/common/jenkins-agents/maven/docker/set_maven_proxy.sh

[2021-12-07 12:13] stitakis commented on #689
@clemensutschig
It looks like the current implementation was close to support `https` but somehow was not added.

I guess this could be fixed by changing the corresponding code in `set_maven_proxy.sh` by these lines:
[code]

[2021-12-07 12:39] clemensutschig commented on #689
@stitakis  - indeed - see PR :)

[2021-12-09 08:55] #680 closed

[2021-12-09 11:01] #679 closed

[2021-12-10 09:10] stitakis commented on #689
reopened because we need to port this to branch `4.x`

[2021-12-13 13:26] #683 closed

[2021-12-13 16:52] jonkristjan opened #693 "Enforce use of secure Log4j version in SpringBoot Quickstarter"
**Describe the bug**
It is possible that components built using the SpringBoot/Java Quickstarter could be impacted by the CVE-2021-44228 exploit since additional libraries can be added that introduce an unpatched version of log4j.

**To Reproduce**
Add a library that depends on log4j to a SpringBoot/Java component:
run gradlew.bat dependencyInsight --dependency log4j-api

**Expected behavior**
out

[2021-12-13 17:47] metmajer commented on #693
@stitakis @rdupont as the Quickstarters owners, can you please look into this?

[2021-12-14 09:18] stitakis opened #694 "support multiple runtimes in quickstarter jenkins agents"
**Problem background**
Currently each jenkins agent provides a runtime version for a specific programming languages.
This brings some limitations when upgrading projects from one ODS version to a new one for these cases.
If a jenkins agent provides a new runtime version, the project upgrading needs to upgrade to this new runtime version. If there are breaking changes in the new runtime the project

[2021-12-14 09:24] stitakis commented on #693
@metmajer @jonkristjan I'll take a look

[2021-12-14 09:49] stitakis commented on #693
@renedupont I think old vulnerable versions of log4j will be around for some time in repositories in internet... for that reason I think is a good idea to add at least:
- ext['log4j2.version'] = '2.15.0' to the build.gradle to ensure the patches version is used

not sure at the moment of this additional measure
- CMD ["java","-Xmx512m","-Dlog4j2.formatMsgNoLookups=true","-jar", "app.jar"]

What do

[2021-12-14 12:22] renedupont commented on #693
I think it makes sense to have it as a safeguard.

I'm also wondering if there is a mechanism to inject args like "-Dlog4j2.formatMsgNoLookups=true" automatically by ODS into the build or deploy config?

[2021-12-14 14:21] stitakis commented on #693
yes, this can be done setting the special java env var `_JAVA_OPTIONS` or also `JAVA_TOOL_OPTIONS`.

We could try to enforce to pass a system property to any java application by adding following line to the dockerfile:
`ENV _JAVA_OPTIONS=-Dlog4j2.formatMsgNoLookups=true`

[2021-12-14 14:40] renedupont commented on #693
I rather meant outside of the code base, like injecting this arg to the deployment config in the pipeline run. So that a user has no way to remove it because it is added during the deployment process.
But the more I think about it, the less I like it... From a dev view that would mean stuff happening to your app that you can't control.

[2021-12-14 14:45] gerardcl commented on #693
guys, aren't we overcomplicating this? we know by default that this QS is not vulnerable, if you provision the QS and you as a developer/team don't take care of the vulnerability this is out of the scope once the QS is provisioned...and on top of that, this is not the first nor the last vulnerabilities that will exist...thanks to quality gates one can detect faster issues like the vulnerability me

[2021-12-14 15:02] stitakis commented on #693
We are giving to this extra attention because it was by @metmajer
From my point of view... the quality gate can be easily deactivated, e.g by mistake.
Also vulnerable version of log4j will be available some time and could be injected also by mistake or e.g. as transitive dependency.

@renedupont an additional option would be the env var `LOG4J_FORMAT_MSG_NO_LOOKUPS=true`, that could be set to enfo

[2021-12-14 15:14] metmajer commented on #693
@stitakis @gerardcl I am just wondering if we are doing what we can to keep our users vulnerability-free, that's it. That single change we make won't have to be even considered by them. Open to any suggestions on how to move forward.

[2021-12-15 07:36] stitakis commented on #693
@kuebler fyi

[2021-12-15 07:37] #689 closed

[2021-12-15 12:52] kuebler commented on #693
@stitakis @renedupont I think we need to keep in mind that both, `LOG4J_FORMAT_MSG_NO_LOOKUPS=true` and `-Dlog4j2.formatMsgNoLookups=true`, only work for some but not all of the vulnerable log4j2 versions. The Spring blog post has also been adjusted and now recommends updating to version 2.16.0 which removes the problematic lookup feature altogether.

[2021-12-15 14:43] stitakis commented on #693
@kuebler I can't find the versions that can't be protected with `LOG4J_FORMAT_MSG_NO_LOOKUPS=true`. By chance, can you please point me to it?

[2021-12-15 16:24] kuebler commented on #693
@stitakis read it in the BSI warning (https://www.bsi.bund.de/SharedDocs/Cybersicherheitswarnungen/DE/2021/2021-549032-10F2.pdf?__blob=publicationFile&v=3, german only) on the it, pg. 3, section: update 2. My interpretation: affected log4j versions between 2.0 and 2.10 don't interpret the env variable or system property rendering it useless for those specific versions of the library.

[2021-12-16 13:21] renedupont commented on #694
IMO if there is a new sonar scanner cli version required in the base agent, there is no way to avoid doing

anyway, therefore the challenge:

is not really an issue here? As soon as a new sonarqube version is being deployed that requires a new sonar scanner cli version as well, all agents that are still being used, no matter what version need to be updated and rebuild in order to continue to work.

[2021-12-21 16:31] stitakis commented on #693
@metmajer I'll port this to branch `4.x`

[2021-12-22 12:26] stitakis commented on #693
@kuebler I'm considering to set these system properties as additional protection as recommended in some sources (https://snyk.io/wp-content/uploads/cheat-sheet-log4shell-remediation-v5.pdf):
[code]
However, I'm not sure if this is necessary. It looks to me that the spring boot quickstarter and maven agent uses latest openjdk 11 which apparently set by default the value `false` to these system prop

[2021-12-23 07:31] kuebler commented on #693
@stitakis from what I've heard, that's also my understanding: with an up-to-date JDK 8, 11 or later they're not required. I think with `ENV LOG4J_FORMAT_MSG_NO_LOOKUPS=true`, the enforced v2.17.0 and `adoptopenjdk/openjdk11:alpine-jre` one would have to fiddle around quite a bit to re-introduce the vulnerability again 🙂

[2022-01-03 09:08] stitakis commented on #693
@kuebler yes, I agree. I'll not add the system properties mentioned above. Thanks for the feedback!

[2022-01-03 09:09] stitakis commented on #693
@metmajer @jonkristjan I have backported this to the branch `4.x` so that it can be deployed on next minor release of ODS.

[2022-01-03 09:09] #693 closed

[2022-01-05 09:43] clemensutschig opened #697 "CI / 4.x -> nodejs-12 agent build broken - with X11 dependency resolution"
**Describe the bug**
latest CI on 4.x:

[code]

from https://github.com/opendevstack/ods-quickstarters/blob/master/common/jenkins-agents/nodejs12/docker/Dockerfile.centos7#L40

[2022-01-06 16:09] stitakis commented on #697
@cschweikert by any chance, can you please have a quick look at the error? Any quick replacement of this dependency timing out?

[2022-01-06 16:10] stitakis commented on #697
@clemensutschig I'll take a look at this

[2022-01-06 16:14] cschweikert commented on #697
A simple GET of the url given above worked on my end. Maybe it was a temporary issue with the given mirror.

[2022-01-07 08:26] stitakis commented on #697
this seems to be a temporary issue, current builds are not failing due to this timeout.
We can reopen this item if this error appears again.

[2022-01-07 08:26] #697 closed

[2022-01-07 08:31] stitakis opened #698 "ODS AMI build failing due to broken helm diff package"
This is affecting branches `master` and `4.x`.

Until 5 January 2021 the download of a helm diff dependency used in jenkins agent base was working fine:
[code]

Since 6 January the download of this dependency is not working.
[code]

[2022-01-07 08:37] stitakis commented on #698
@michaelsauter can you please have a quick look? Any idea why this is not working anymore?

[2022-01-07 08:41] stitakis commented on #698
this issue in helm diff project seems to be related:
https://github.com/databus23/helm-diff/issues/322

[2022-01-07 09:13] michaelsauter commented on #698
Looks like it should be fixed by now from `helm-diff`'s side. Is the error still happening? Otherwise I would suggest to post the error in the issue you lined.

[2022-01-09 08:42] clemensutschig commented on #698
still not solved :(

[2022-01-10 08:02] clemensutschig commented on #698
@michaelsauter can you help follow this thru :)

[2022-01-10 08:33] stitakis commented on #698
@clemensutschig @michaelsauter after upgrading helm to version `3.5.3` I was finally able to successfully build the docker image locally. I'll try this in the CI build of branch `feature/ods-devenv`. If this build works, I'll create a PR for master branch.

[2022-01-10 09:22] michaelsauter commented on #698
@stitakis See https://github.com/opendevstack/ods-core/pull/1082.

However that while it tries to install `helm-diff` 3.2.0, due to a bug in `helm-diff` it will always install `latest`. The bug is fixed in 3.3.1, but that will not install on UBI due to another bug, fixed in https://github.com/databus23/helm-diff/pull/339. The next version of `helm-diff` should hopefully do what we want :D

[2022-01-11 10:57] stitakis commented on #651
@kuebler @renedupont I have merged this to master. I'll port this feature to 4.x

[2022-01-12 09:06] stitakis opened #700 "ODS AMI build fails due to failing jacoco report generation in springboot quickstarter"
This is a regression issue.

Jacoco report generation is failing in spring boot quickstarter since we upgraded the quickstarter to java 17.

[code]

[2022-01-12 09:33] michaelsauter commented on #700
FYI @oalyman discovered this in ODS Pipeline: https://github.com/opendevstack/ods-pipeline/issues/386

[2022-01-12 10:04] stitakis commented on #700
@michaelsauter thanks a lot for the link. I remember that I fixed this problem by removing `--no-daemon` but somehow I forgot to add it to the PR. I'll create fix PR with this change.

[2022-01-12 11:14] nichtraunzer commented on #665
- can u describe whaz u mean by "preserve" ? (how long, where should it be preserved, ...)

I assume this error occurs because the policy for the shared S3 bucket has not been updated for the givven account. I also assume this error will not occur when we switch to dedicated S3 buckets to store the TF state for each account -am I right ?

[2022-01-12 11:55] oalyman commented on #700
@stitakis I would propose to leave the `--no-daemon` setting and rather set some JVM args like `org.gradle.jvmargs`.
This way it would start a single-use daemon that will be stopped after the build is finished.
You can tell this from the logs when you see the message:
`To honour the JVM settings for this build a single-use Daemon process will be forked`

[2022-01-12 13:00] tbugfinder commented on #665
The error was raised as the bucket policy wasn't set properly. I cannot tell all error conditions which could come up nevertheless if terraform errors out and leaves a file `errored.tfstate` on the ephemeral jenkins agent the this file should be uploaded within the pipeline run as an artifact.

[2022-01-12 15:40] stitakis commented on #700
@oalyman I push a PR. It keeps the flag `--no-daemon` and defines in `gradle.properties` the JVM agrs `org.gradle.jvmars=...`. My manual test worked fine. Can you please review #701 ?

[2022-01-13 07:35] #700 closed

[2022-01-13 16:40] tbugfinder commented on #665
https://www.jenkins.io/doc/pipeline/steps/core/

==>
[code]

[2022-01-24 09:05] gerardcl opened #702 "provision of DS R Shiny QS in ODS 3.x fails"
**Describe the bug**
R Shiny QS has no latest changes in 4.x or master. We need to get them in to fix build failures from https://github.com/opendevstack/ods-core/issues/1088

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ods provisioning app
2. Provision ds-rshiny
3. Will fail if in ODS 3.x

**Expected behavior**
Should work

**Affected version (please complete the following informat

[2022-01-24 12:10] #702 closed

[2022-01-28 12:58] jchaves opened #704 "Docker build fails on 4.x branch"
https://github.com/opendevstack/ods-quickstarters/blob/86ff3d26401486da6e9aed05aaa956ccb9421a5d/common/jenkins-agents/maven/docker/Dockerfile.centos7#L31

[code]

[code]

After making a couple modifications, we got it to build:

`RUN yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm && yum repolist && yum install -y java-17-openjdk-devel java-17-openjdk-jmods ja

[2022-01-28 13:19] stitakis commented on #704
@jchaves I'm not sure if we need this package for java 11. I'd say, we should remove it if we don't find a reason.

[2022-01-31 11:44] jchaves commented on #704
@stitakis honestly, I have no idea either. I'm definitely not a java dev, so I'm not even sure what this "jmods" would do _(a quick search tells me that it " is intended for modules that have native libraries or other configuration files", but I'm not savvy enough to really understand that :)

The thing is: the package exists (or seems to; https://centos.pkgs.org/7/centos-x86_64/java-11-openjdk-jm

[2022-02-03 20:21] tbugfinder commented on #677
Overall we discussed to bump several versions within the QS.

- cinc-auditor => 4.52.9
- inspec-aws => 1.80.0
- kitchen-terraform => 6.1.0 (primary target to fix this issue)
- terraform version => 1.0.11
- rebuild Gemfile (.lock)
- ruby 2.7.5 (opt)
- pre-commit-hooks (versions, add python checks (opt.))
- Pipfile

[2022-02-04 11:04] #651 closed

[2022-02-10 10:35] braisvq1996 commented on #645
Issue no longer happening

[2022-02-10 10:35] #645 closed

[2022-02-10 10:53] braisvq1996 opened #706 "Default acceptance test in Spock makes the pipeline runs forever"
**Describe the bug**
The current acceptance test for the Spock Quickstarter is making the pipeline run continuously.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute Spock default acceptance test
4. See problem

**Expected behavior**
The pipeline should finish even if the tests fails

**Screenshots**
![image](https://user-images.githubusercontent.com/26645694/153390276-9fcb0eba-58b6-4

[2022-02-11 15:41] metmajer commented on #706
@braisvq1996 can you work with the EDP Core team on a resolution? Some guidance from you would be very helpful.
FYI @jorge-romero @s2oBCN @jafarre-viewnext

[2022-02-14 15:05] cschweikert opened #707 "Jenkins Agent AWS Terraform image build fails on old python version"
**Describe the bug**
Jenkins Agent AWS Terraform image build fails while complaining about needing python 3.7 instead of 3.6.

**To Reproduce**
Steps to reproduce the behavior:
1. Do an `oc login` and `oc project ods`
2. Go to `ods-quickstarters`, e.g. with latest `4.x` branch
3. Run `make apply-jenkins-agent-terraform-build`
4. See error

**Expected behavior**
According to line `ENV PYTHON_VERSIO

[2022-02-14 15:09] #677 closed

[2022-02-14 16:00] s2oBCN commented on #706
The problem is in the e2e test that is freeze

[2022-02-14 16:39] gerardcl opened #710 "jupyter lab quickstarter base environment cleanup"
**Is your feature request related to a problem? Please describe.**
Recommended approach is to use jupyter notebooks with its own venv, hence it is not making sense providing by default and fixed versions of some common DS python packages.
Also, this will reduce the maintenance efforts of this quickstarter, thinking also on security findings.

**Describe the solution you'd like**
Just provide jupyt

[2022-02-15 15:16] renedupont opened #713 "Gradle proxy script has copy-and-paste issue"
In [set_gradle_proxy.sh](https://github.com/opendevstack/ods-quickstarters/blob/master/common/jenkins-agents/maven/docker/set_gradle_proxy.sh#L35) that part seems wrong to me:

[code]

`$systemProp` should be `systemProp`
`$proxy_user` in the last four lines should be `$proxy_pw`
`proxyUser` should be `proxyPassword` (see [doc](https://docs.gradle.org/current/userguide/build_environment.html#sec:a

[2022-02-15 15:58] stitakis commented on #706
@s2oBCN @victorpablosceruelo this issue is affecting the ODS AMI build. Did you have the chance to have a look? Any updates? Who is looking at this?

[2022-02-16 09:25] stevegbrooks opened #715 "Improve RShiny Quickstarter"
I propose that we improve the RShiny Quickstarter and bring it up to the standards defined here: http://www.opendevstack.org/ods-documentation/opendevstack/4.x/quickstarters/authoring-quickstarters.html

This should also be taken as a request to continue supporting and providing the QS within BI as it will have many more interested users after the proposed improvements.

I can take the lead on the

[2022-02-16 10:40] metmajer commented on #715
Hi @stevegbrooks, I have already contacted you via email, but haven't received a response about your team's ability to become an official owner and maintainer. Technical improvements alone will not be sufficient. FYI @gerardcl

[2022-02-16 11:15] gerardcl commented on #715
@metmajer @stevegbrooks feel free to add me in the discussions 👍

In any case, we don't want to make it complicated, basically the idea is that since the quickstarter is already existing in the ods-quickstarters and there is usage/need, we want to make sure we provide a more quality by default (testing, linting, etc if possible) from the base/original/existing one. And, we have already experience

[2022-02-16 15:03] serverhorror opened #716 "Provide an "empty" or "vanilla" QuickStarter"
There are a bunch of automations/tasks that run via OpenDevStack but are not quite an application or deployment to OpenShift.

Currently every QuickStarter is geared towards running a service in OpenShift and the initial run of the Jenkins pipeline will build, deploy and run an image/container. This takes up resources that need to be cleaned or if not cleaned up will take resources away from proje

[2022-02-16 15:05] metmajer commented on #716
@serverhorror use-cases?

[2022-02-16 15:10] serverhorror commented on #716
Vendor provided deployments that go to cloud providers and do not support OpenShift or containers at all

[2022-02-16 15:37] serverhorror commented on #716
Hey,

Sure. I'm about to update the docs and since this is a really small change I was just preparing a draft.

* scripted tasks -- as in running a custom shell script that takes care of complex tasks
* snapshot/restore a database from an existing production environment to an existing staging environment (to have a verified/tested and proven method to rule out human error)
* access non-cloud / non

[2022-02-16 15:48] serverhorror commented on #716
The code for an absolutely mininmal template that will _not_ create any image or deploy any resources to OpenShift has been added.

Not quite sure how to run tests locally on a Windows machine. Tried to update the golden files for the tests as well.

[2022-02-16 15:57] metmajer commented on #716
Hey, I do appreciate that you consider making a contribution. Just note that it would be good why a solution needs to be created in the first place. A solution as open as this does come with documentation overhead in a regulated environment since there is little it actual contains, it also cannot be easily supported by a support team as the final result can contain anything. Therefore, I am natura

[2022-02-16 21:02] tbugfinder commented on #707
`ENV PYTHON_VERSION` is not used within Dockerfile.ubi8.
Master branch uses pip3.6.
- so the ENV PYTHON_VERSION line could be dropped
- changes applied to master should be merged into 4.x

@nichtraunzer

[2022-02-16 21:03] tbugfinder commented on #707
@cschweikert Do we also have access to the build log file?

[2022-02-17 01:50] stevegbrooks commented on #715
@metmajer I replied to your email. The last email in that thread is a question from me to you. I'll send it again.

[2022-02-17 08:21] tbugfinder commented on #707
I'm also wondering if those jenkins-agents in 4.x branch should pin to a 4.x tag of the base jenkins agent.

[2022-02-17 11:09] pelacables commented on #716
hey

Which QuickStarter are we supposed to use? any docs we can read?

The problem we have is that all QuickStarters create resources in OpenShift and they need to be cleaned up.

so, if I get it correctly we need the release manage to be able to use this?

1. create a component, likely docker-plain  (??)
2. deploy OpenShift resources (not needed?)
3. clean up the resources
4. create a release-man

[2022-02-17 12:44] metmajer commented on #716
Hi @pelacables and @serverhorror,

Certain parts of ODS, including the Release Manager, expect ODS components to run on OpenShift. Then again, this is not entirely true, since we recently introduced a new ODS component type allow the AWS Quickstarter and upcoming Azure Quickstarter to break free from this constraint. However, this ability is only available to these particular Quickstarters.

Altho

[2022-02-18 07:32] gerardcl opened #720 "nodejs12 agent build failing"
**Describe the bug**
Due to recent changes/removals from centos repos nodejs12 agent fails on building.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['this github action run from 4.x'](https://github.com/opendevstack/ods-quickstarters/runs/5236434975?check_suite_focus=true) or ['this github action run from master'](https://github.com/opendevstack/ods-quickstarters/runs/5244439931?ch

[2022-02-18 07:38] gerardcl opened #721 "scala agent build failing"
**Describe the bug**
Due to recent changes/removals from centos repos scala agent fails on building.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['this github action run example'](https://github.com/opendevstack/ods-quickstarters/runs/5236435420?check_suite_focus=true)
2. See error

**Expected behavior**
Should build with success

**Screenshots**
If applicable, add screenshots to h

[2022-02-18 08:02] gerardcl opened #722 "maven agent build failing"
**Describe the bug**
Due to recent changes/removals from centos repos maven agent fails on building.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['this github action run example'](https://github.com/opendevstack/ods-quickstarters/runs/5244293536?check_suite_focus=true)
2. See error

**Expected behavior**
Should build with success

**Screenshots**
If applicable, add screenshots to h

[2022-02-18 08:02] gerardcl commented on #721
FYI @oalyman

[2022-02-18 08:03] gerardcl commented on #722
FYI @stitakis @rdupont

[2022-02-18 08:04] gerardcl commented on #720
FYI @sino92

[2022-02-18 08:14] gerardcl opened #723 "go agent build failing"
**Describe the bug**
Due to recent changes/removals from centos repos go agent fails on building.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['this github action run from 4.x'](https://github.com/opendevstack/ods-quickstarters/runs/5244560505?check_suite_focus=true)
2. See error

**Expected behavior**
Should build with success

**Screenshots**
If applicable, add screenshots to hel

[2022-02-18 08:15] gerardcl commented on #723
FYI @michaelsauter

[2022-02-18 08:16] gerardcl opened #724 "terraform agent build failing"
**Describe the bug**
Due to recent changes/removals from centos repos terraform agent fails on building.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['this github action run from 4.x'](https://github.com/opendevstack/ods-quickstarters/runs/5244440597?check_suite_focus=true)
2. See error

**Expected behavior**
Should build with success

**Screenshots**
If applicable, add screenshots

[2022-02-18 08:16] gerardcl commented on #724
FYI @tbugfinder @nichtraunzer

[2022-02-18 09:11] gerardcl opened #725 "python agent build failing"
**Describe the bug**
Due to recent changes/removals from centos repos python agent fails on building.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ['this github action run from 4.x'](https://github.com/opendevstack/ods-quickstarters/runs/5244361866?check_suite_focus=true)
2. See error

**Expected behavior**
Should build with success

**Screenshots**
If applicable, add screenshots to

[2022-02-18 10:13] #710 closed

[2022-02-18 13:10] metmajer commented on #716
@serverhorror I think the Quickstarter you started could have the purpose to replace what we had implemented into the Release Manager (see my references above). However, the Release Manager would need to be able to execute this Quickstarter correctly, and I have not come to a conclusion yet regarding SLC documentation generation, for which we'd need as well a compelling concept, e.g. TIR. @clemens

[2022-02-18 13:15] #725 closed

[2022-02-18 13:15] #720 closed

[2022-02-18 13:15] #721 closed

[2022-02-18 13:15] #722 closed

[2022-02-18 13:15] #723 closed

[2022-02-18 15:47] gerardcl commented on #724
@tbugfinder when you mentioned in the other PR that you need in the terraform agent "epel" you mean the centos8.repo as in https://github.com/opendevstack/ods-quickstarters/blob/master/common/jenkins-agents/nodejs12/docker/yum.repos.d/centos8.repo ?

[2022-02-18 15:50] tbugfinder commented on #707
OS - python36 matches current requirements.

The question about pinning is about pinning the definitions within ods-quickstarters branch 4.x.

All use latest instead of 4.x - latest is fine for me though.

https://github.com/opendevstack/ods-quickstarters/blob/master/common/jenkins-agents/golang/docker/Dockerfile.ubi8#L1

https://github.com/opendevstack/ods-quickstarters/blob/master/common/jenkins

[2022-02-18 21:48] tbugfinder commented on #724
I don't see "Extra Packages for Enterprise Linux 8" in the file centos8.repo.

With the switch to ubi8 repos terraform agent can use
[code]

[2022-02-18 21:51] tbugfinder commented on #707
Github workflows do not care about BC overwrites, no?

https://github.com/opendevstack/ods-quickstarters/blob/4.x/.github/workflows/continuous-integration-workflow.yml#L151

[2022-02-18 22:15] metmajer commented on #724
Can we please switch to UBI8 as soon as possible? Less security issues for all. Thanks

[2022-02-19 08:49] metmajer commented on #706
@s2oBCN do you have an idea how to fix this? Is the existing PR you are working on related to this?

[2022-02-19 08:56] metmajer commented on #694
@stitakis @renedupont I missed out on this issue. Thanks for creating it based on the discussion we had in December!

The background for the discussion was to avoid that literally everyone needs to take immediate action when a new version of ODS has been shipped. The hard SonarQube dependency: "a server version upgrade affects every Jenkins Agent whose included sonar-scanner-cli version needs to b

[2022-02-21 08:00] #713 closed

[2022-02-21 08:58] cschweikert commented on #707
Hi @tbugfinder, maybe there is a missunderstanding. When jenkins agents are build/updated on a cluster installation according to the manual (https://www.opendevstack.org/ods-documentation/opendevstack/4.x/jenkins/administration.html) they will do this by considering the overwrites from the BC. With this they will be build from the jenkins-agent-base image that lives on the respective ods namespace

[2022-02-21 13:13] tbugfinder opened #730 "Jenkins Agent Terraform - support mozilla/sops"
**Is your feature request related to a problem? Please describe.**
Use of proper secrets in terraform deployments is a need. Some secrets can be managed within the Cloud providers space itself completely, some secrets (or secret configurations) need to be shared and accessible by operation teams.
Mozilla/sops is a tool which addresses this need while nicely integrating with terraform using an avai

[2022-02-21 16:56] tbugfinder commented on #707
It's well understood. I'm rather also on the path what we are testing here, though.

[2022-02-21 18:02] #724 closed

[2022-02-21 19:16] stitakis commented on #704
@braisvq1996 in that case, let us close this issue. We can always reopen it if is not the case.

[2022-02-21 19:16] #704 closed

[2022-02-22 14:27] nichtraunzer commented on #655
will be covered by [#740](https://github.com/opendevstack/ods-jenkins-shared-library/pull/740)

[2022-02-22 14:27] #655 closed

[2022-02-22 14:50] nichtraunzer commented on #665
I would like to see this feature into the new InfrastructureService provided by the Jenkins Shared Library [#740](https://github.com/opendevstack/ods-jenkins-shared-library/pull/740) - draft should be available by early next week.

[2022-02-22 19:51] tbugfinder opened #736 "inf-terraform-aws: support developmentconainer by adding devcontainer.json"
**Is your feature request related to a problem? Please describe.**
QS inf-terraform-aws +azure depend on a number of tools required to support "local" development.
As VSCode is a widely adopted editor with loads of extensions and features, using its devcontainer approach should be added to get developers started easily and to serve consistent development and deployment environments.
This approach

[2022-02-23 11:26] #730 closed

[2022-02-24 13:10] stitakis opened #741 "ODS AMI Build failing due to E2E test error in python flask quickstarter"
ODS AMI Build failing due to E2E test error in python flask quickstarter.

This is affecting branches `master` and `4.x`.

Logs:
[code]

[2022-02-24 13:14] stitakis opened #742 "ODS AMI build failing due missing python 3 in ionic quickstarter"
ODS AMI build failing due an E2E test error of ionic quickstarter.

This is affecting branches `master` and `4.x`.

logs
[code]

[2022-02-24 13:15] jchaves opened #743 "Agents' builds Failing due to "Unknown repo""
**Describe the bug**
Several Jenkins Agents are failing to build due to: Error: Unknown repo: 'centos-appstream' / Error: Unknown repo: 'centos-baseos'

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger a (re)build in openshift
2. Look at "Logs"
4. See error

**Expected behavior**
Builds should finalize without errors

**Screenshots**
If applicable, add screenshots to help explain your

[2022-02-24 13:21] stitakis opened #744 "ODS AMI build failing due an E2E test error in document gen svc"
logs
[code]

[2022-02-24 13:32] jchaves opened #745 "Jenkins Agent AWS Terraform image build fails because of "missing" packages"
**Describe the bug**
Terraform agent build fails, no match found for certain packages

**To Reproduce**
Steps to reproduce the behavior:
1. Trigger a build
2. See error

**Expected behavior**
Build should finish without errors

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Affected version (please complete the following information):**
 - OpenDevStack 4.x branch

[2022-02-24 13:36] gerardcl commented on #741
hi @stitakis  is this only happening on master?

[2022-02-24 13:45] stitakis commented on #741
also in branch `4.x`, I'll update the ticket description

[2022-02-24 17:16] tbugfinder commented on #743
Well, this might be an issue in core.
Build of base-agent in ods-core finished successfully.

[2022-02-24 17:17] gerardcl opened #746 "upgrade python quickstarter to latest flask 2 version and dependencies upgrades"
**Is your feature request related to a problem? Please describe.**
We need to upgrade dependencies of our quickstarters time to time. Hence we can avoid/fix/prevent issues like #741

**Describe the solution you'd like**
General upgrade on the python flask quickstarter dependencies

**Describe alternatives you've considered**
N/A

**Additional context**
Periodic maintenance

[2022-02-24 17:28] tbugfinder commented on #745
Above step is passed successfully locally (after cleaning up all images and layers) and depends on jenkins-agent-base.

[2022-02-24 17:32] tbugfinder commented on #745
Was there a hick up in the test instance?

[2022-02-25 07:40] #682 closed

[2022-02-25 07:40] #741 closed

[2022-02-25 07:40] #746 closed

[2022-02-25 13:28] renedupont commented on #694
With the current setup of having everything needed for a build in one agent-image, I don't see another way to deal with this than updating the agent-base (+rebuilding all inheriting agents) of every ODS (agent-image) version that is still in use once we upgrade sonarqube server instance.

I think the same is potentially true for every other external platform service we use during the build, like A

[2022-02-25 15:17] metmajer commented on #707
@braisvq1996 is addressing this already

[2022-02-28 14:07] albertpuente opened #750 "Cypress QS fails because caniuse-lite is outdated"
**Describe the bug**
Existing projects using the cypress quickstarter as well as newly provisioned ones are failing due to an error.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run any pipeline that uses the cypress quickstarter.

**Expected behavior**
`cypress run --config-file cypress-installation.json --browser chrome` does not fail.

**Affected version (please complete the fol

[2022-03-01 08:09] stitakis commented on #744
Hi @jafarre-viewnext @victorpablosceruelo @jorge-romero @metmajer @braisvq1996  did you have the chance to look at this ticket? Please let me know who is taking a look?

[2022-03-01 08:11] stitakis commented on #742
Hi @ManuelFeller @bljubisic @cschweikert the ODS AMI Build (E2E Test) is failing. By any chance... could you please have a look at this ticket?

[2022-03-01 09:37] stitakis commented on #741
@gerardcl thanks a lot!

[2022-03-02 08:12] albertpuente commented on #750
Understood, closing since this is a non-issue and has been resolved elsewhere.

[2022-03-02 10:18] stitakis commented on #744
@cschweikert thanks for the hint... the current version used is 0.12.5 https://github.com/opendevstack/ods-document-generation-svc/blob/def9b0ca5c7d40170a86c4ca3313955c094cc893/docker/Dockerfile#L14

[2022-03-02 12:01] stitakis commented on #744
I found the error:
[code]

I'll update the description

[2022-03-02 14:35] tbugfinder commented on #707
the issue itself is solved.

[2022-03-02 14:35] #707 closed

[2022-03-03 11:59] stitakis commented on #742
@bljubisic  I think I found the root of the problem, aparently python version 3 should be available in the environment. These are the logs:
[code]

[2022-03-03 15:56] metmajer commented on #742
@braisvq1996 it seems this needs to be documented in the qualification docs?

[2022-03-04 15:50] stitakis opened #756 "ODS AMI Build failing due bad dependency version in fe-ionic quickstarter"
logs
[code]

[2022-03-04 15:54] stitakis commented on #756
@clemensutschig I fixed the other fe-ionic qs issue with #754, however we have now this error, I'll follow up on Monday with @bljubisic

[2022-03-04 15:58] ManuelFeller commented on #756
@stitakis I can not work on this, see my leave note in conpany Outlook when I am back...

[2022-03-04 16:08] stitakis commented on #756
@ManuelFeller I wasn't aware, sorry, enjoy your holiday!

[2022-03-07 14:41] #631 closed

[2022-03-09 08:32] braisvq1996 commented on #742
Yeah one of our documents will be affected by this

[2022-03-09 09:04] #756 closed

[2022-03-09 15:14] #742 closed

[2022-03-11 14:41] stitakis opened #761 "Allow local project creation of quickstarter be-java-springboot"
Enable local development and test of the project creation part of the java spring quickstarter by providing a Makefile.
The instructions that creates a project and customizes it are currently embedded in the quickstarter Jenkinsfile.
This feature request proposes to move the logic to a Makefile.
The Jenkinsfile would need to be changed to call the Makefile instead.
By having a Makefile test of cre

[2022-03-11 15:57] metmajer commented on #761
@stitakis I recently discussed with @nichtraunzer how we could properly test the execution of a component pipeline as part of a Quickstarter test. We have been thinking of using the Jenkins Runner for now: https://www.jenkins.io/blog/2019/02/28/serverless-jenkins/. Have a better idea?

[2022-03-14 09:36] serverhorror commented on #716
I just started that with @pelacables -- mainly to get him in touch with the project, so hoping for him to jump in on details...

Contacted him on a side channel and he doesn't need it any more so closing.

[2022-03-14 09:36] #716 closed

[2022-03-14 11:06] metmajer commented on #716
Thanks @serverhorror, appreciate your willingness to contribute and to bring more users. I already met with @pelacables, let's continue the conversations!

[2022-03-15 11:01] braisvq1996 opened #763 "Nodejs 12 EOL in April"
**Is your feature request related to a problem?**
Nodejs version 12 reach EOL in April 2022 - [releases](https://nodejs.org/en/about/releases/)

**Describe the solution you'd like**
we should update to a newer version be it 14 or 16 (current LTS)

**Quickstarters with nodejs agent**
- typescript: @sino92
- cypress: @tbabik
- angular: @cschweikert
- ionic: @rianet @bljubisic

FYI - @metmajer @gerar

[2022-03-15 11:44] metmajer commented on #763
Agreed @braisvq1996. Could you list the affected Quickstarters and get in touch with the Quickstarter owners for their contributions?

According to https://github.com/opendevstack/ods-quickstarters/issues/694, quickstarters should support multiple runtimes to remain backwards compatible as much as possible.

[2022-03-18 14:25] cschweikert commented on #763
I'd go for nodeJS 16. Actually there will be 18 (LTS) next month, but it might take some time until it is available in all the different package managers.
Also we are already using a custom agent that uses nodeJS 16 and it doesn't seem to cause any issues. On our end It works together with different versions of cypress, at least Angular 11 and 13 and also latest Express server.

Following things t

[2022-03-18 14:49] braisvq1996 commented on #763
3.x will not be needed to be updated, only 4.x and master.

We should keep nodejs 12 at least in 4.x and add in parallel nodejs 16, not sure for master @metmajer

We have 4 Quickstarters that make use of nodejs, lets go step by step

[2022-03-18 15:27] cschweikert commented on #763
How about we do the following steps:
1. on `master` replace 12 with 16 all over the place and make all nodeJS-based quickstarters working properly again
2. backport nodeJS 16 agent from `master` to `4.x` for offering it in parallel with 12 (also needs special documentation and build/test scripts to work with both versions in parallel)
3. backport the adjustments made on the quickstarters from `mas

[2022-03-21 14:59] metmajer commented on #763
@cschweikert I am just trying to be practical. EOL does not mean that existing nodeJS applications will not run anymore. Some users of this Quickstarters might be willing to accept running on an EOL version, or simply cannot afford unknown risks that might come with an upgrade to a later version. If, however, users need to rebuild their Agents, because of a SonarQube update, they would still be sa

[2022-03-21 15:40] cschweikert commented on #763
@metmajer For `4.x` I'm totally with you. How about `master`?

As long as nobody deletes the cluster-local `4.x` branch, rebuilding old agents should be possible. Or am I missing something?

[2022-03-21 15:45] metmajer commented on #763
@cschweikert I consider this valuable in all branches since some distributors (vendors) might provide their solutions requesting a particular version, not necessarily the latest LTS.

[2022-03-21 17:03] tbugfinder commented on #763
Several weeks from now, security tooling might raise alerts - and  then? Platform offerings are insecure by default? So the message isn't really beneficial (my 2ct).

[2022-03-21 18:36] metmajer commented on #763
@tbugfinder what exactly are you referring to? Christian's proposal to re-use old Agents or something else?

[2022-03-21 21:09] tbugfinder commented on #763
I was referring to the "message" of still supporting EOL nodejs12. This feels contrary to any effort and arguments regarding security. EOL means EOL, so dropping nodejs12 at least of main (master) is needed.

[2022-03-21 21:21] metmajer commented on #763
Fine with me if you will migrate all existing nodejs12 apps of our colleagues manually to 16 :) Otherwise, let's keep 16 in there and we do a proper sunsetting before we remove it.

[2022-03-22 08:04] cschweikert opened #765 "Update fe-angular to 13.3+"
In alignment to the work on updating the nodeJS build agent (https://github.com/opendevstack/ods-quickstarters/issues/763) it is also now a good time to bring `fe-angular` to a new version (currently 13.3.0).

The update for `fe-angular` should be applied on `master` and `4.x`.

Angular 13.3.0 still works with version 12 of the nodeJS-based build agent. An update of this version is tackled https:/

[2022-03-22 08:05] cschweikert commented on #763
I had problems with NodeJS 14+ and the `fe-angular` QS. See also https://github.com/opendevstack/ods-quickstarters/issues/662
I started updating `fe-angular` in parallel. See also https://github.com/opendevstack/ods-quickstarters/issues/765

[2022-03-22 08:11] cschweikert commented on #662
This issue has been fixed for `3.x` already (https://github.com/opendevstack/ods-quickstarters/pull/663). For `4.x` and `master` this issue will rather be fixed with an update of Angular. About the Angular update see also https://github.com/opendevstack/ods-quickstarters/issues/765

[2022-03-22 08:37] metmajer commented on #763
@cschweikert @tbugfinder I would be supportive for a QS that contains only NodeJS 16 if there is absolutely no risk for existing applications based on NodeJS 12. Certainly, as a Platform provider, I do not want to take this risk on me. If we cannot guarantee backwards-compatibility for existing applications, we should offer this backwards compatibility as a general principle of a QS and use awaren

[2022-03-22 10:30] braisvq1996 commented on #763
I am also in favor of @metmajer opinion, we must support older versions.
Nodejs 12 will reach EOL soon but we should support it for some time and encourage users to update (I expect to not have this kind of situation in the futute, supporting a EOL version).
The moment we decide to drop a certain version of a builder image we need to have enough time (months) for the users to update.

[2022-03-22 11:38] stitakis opened #766 "Stabilize ODS E2E tests and improve execution time by refactoring jenkins agents build to its own project"
**Current Problem**:
The ODS E2E tests are regularly impacted by broken builds of the jenkins agents dockerfiles (located in folder `common`).
This leads to permanent overhead of fixing the broken dockerfile.
The main problem is that the jenkins agent images are build from scratch (sequentially) during the setup of ODS E2E test environment (ODSBox).
This make the whole E2E tests strategy very unst

[2022-03-22 11:40] stitakis commented on #766
Hi @metmajer @michaelsauter @clemensutschig @gerardcl this is a quick win that will provide stabilize the build of the ODSBox and execution of the E2E tests. I'd be more than happy if you can provide your feedback.

[2022-03-23 12:50] nichtraunzer opened #767 "AWS QS: /reports directory will not be deployed properly"
**Describe the bug**
When QS is deployed into an ODS project  the reports/install directory is missing due to a conflict with .gitignore

**Expected behavior**
Component shall contain the reports/install directory

**Affected version (please complete the following information):**
- 4.x

[2022-03-23 15:55] nichtraunzer commented on #767
covered by https://github.com/opendevstack/ods-quickstarters/pull/768

[2022-03-25 11:27] metmajer commented on #766
@s2oBCN @stitakis cool!

[2022-03-28 20:01] tbugfinder commented on #763
Is there a doc section or Code section to inform users about deprecated technology? Maybe consider adding this information already for nodejs16 agent, so that by „platform release“ before or after nodejs16 EOL date this agent version will be deprecated and then removed?

[2022-03-29 12:25] cschweikert commented on #763
@tbugfinder regarding EOL: I added some lines to the documentation `ods-quickstarters/docs/modules/jenkins-agents/pages/...`:
* v12: https://github.com/opendevstack/ods-quickstarters/commit/031adcb51ab4320f0237149cf7dce81789de6986#diff-13808194cbf94924fe90ad002dcf8e6d4effe11a5ca2a1270d34f59676482619R9
* v16: https://github.com/opendevstack/ods-quickstarters/commit/031adcb51ab4320f0237149cf7dce8178

[2022-03-30 16:37] tbugfinder commented on #763
👍

[2022-03-31 12:18] #765 closed

[2022-03-31 12:35] cschweikert opened #770 "Update and renew e2e-cypress"
The following things in the current *e2e-cypress* quickstarter can be updated, added or improved:
* cypress: 7.5.0 -> 9.5.3
* typescript: 4.3.2 -> 4.6.3
* switch to new Node.js 16 build agent
* instead of precompiling TypeScript code it is possible to make use Cypress' native support for TypeScript
* improve the structure of the example code (login commands)
* provide recipes for get around post-i

[2022-03-31 13:20] #662 closed

[2022-04-04 09:13] renedupont opened #779 "Update Spring boot qs due to CVE"
Hello,

due to https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement I propose to update the spring boot version to 2.6.6.
As far as I understood we most likely won't have issues with it because we usually don't package as .war files which seems to be a requirement to be impacted according to https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement#am-i-impacte

[2022-04-04 09:29] cschweikert opened #780 "Update and renew fe-ionic"
The following things in the current `fe-ionic` quickstarter can be updated, added or improved:
* ionic: 6.13.1 -> 6.19.0
* align code with `fe-angular` quickstarter (see also recent changes from PR #769)
* removal of certain workarounds needed by current version
* bring documentation up-to-speed

[2022-04-04 09:33] renedupont commented on #779
Well actually, looking at https://github.com/opendevstack/ods-quickstarters/blob/master/be-java-springboot/Jenkinsfile#L23 and considering this `.RELEASE` suffix hasn't been used since version 2.4 anymore (check https://mvnrepository.com/artifact/org.springframework.boot/spring-boot). Assuming the spring initializr would take the default in case of unvalid value, we have been on the latest automat

[2022-04-05 15:56] #736 closed

[2022-04-05 16:19] nichtraunzer opened #784 "inf-terraform-aws: self-check feature"
Since setup of the inf-terraform-aws quickstarter requires multiple configuration steps it might be helpful having a function available which does some checks on the existing configuration files to verify proper settings (syntax).
e.g.
[code]
This could also executed during the pipeline run and mark it as unstable in case of a missing configuration. Running in the pipeline would allow more advance

[2022-04-06 14:54] renedupont opened #785 "Download Gradle Plugins from Nexus"
**EDIT**: This issue was named "Can't locally pull gradle plugins from inside corporate network" beforehand but the plugin URL seems to be whitelisted by now and hence it is not a blocking bug anymore but rather a improvement request.

**Describe the bug**
It is not possible anymore for us to build locally via gradle because the gradle repository is being blocked by our corporate network (or a ser

[2022-04-06 21:03] tbugfinder commented on #785
If nexus gets provisioned from scratch by the current configuration, initial downloads will also fail.

[2022-04-07 13:29] #763 closed

[2022-04-08 07:40] cschweikert commented on #595
@bljubisic I guess we can close this issue

[2022-04-08 07:43] #628 closed

[2022-04-08 07:46] cschweikert commented on #674
Hi, there had been a bigger update on the *e2e-cypress* quickstarter (https://github.com/opendevstack/ods-quickstarters/issues/770) as well as on the build agent (https://github.com/opendevstack/ods-quickstarters/pull/772).

@jchaves @braisvq1996 Would be cool to know, if the new quickstarter resolves this issue.

[2022-04-08 08:40] braisvq1996 commented on #674
@cschweikert sorry, the root of the problem for this issue was Aqua and it has already been solved, I will close this issue.

Also, we have not yet installed/tested the latest changes in GitHub in our ODS installation

[2022-04-08 08:40] #674 closed

[2022-04-08 08:57] #595 closed

[2022-04-08 12:04] cschweikert commented on #766
LGTM

One more thought on the proposed solution: What is holding us back from actually using those images directly from dockerhub instead of building them into the respective image streams of the *ods* namespace and get it from there? With this we could deliver new agent versions much faster and it is also much easier to maintain different flavors of them. Right now we have to do a lot of copy & p

[2022-04-08 13:31] cschweikert commented on #766
Ah, nice. Will have a look.
@stitakis When I get you correctly the plan for publishing on dockerhub is not just for running the ODS e2e tests, but to also make it available for everybody, right?

[2022-04-08 13:34] s2oBCN commented on #766
Yes, the repo is created and next week I'll work with the pipeline in order to publish the images to DockerHub

[2022-04-08 15:26] renedupont commented on #785
I tried a few things today and came up with a possible solution, before creating a draft PR I'd like to have feedback and start discussing possible other options/improvements.

My idea would be to basically move the[ nexus vars handling](https://github.com/opendevstack/ods-quickstarters/blob/4.x/be-java-springboot/templates/gradle-buildscript.template#L3) that we currently have in `build.gradle` t

[2022-04-11 08:31] filex commented on #763
When will the `jenkins-agent-nodejs16` image be available for existing ODS projects? I see that the issue is closed and merges have been made. But I don't see the expected image in the OpenDevStack's Image Streams at inh-ocdev (EU).

[2022-04-12 06:31] braisvq1996 commented on #763
Hi @filex , we will make the update in the following changes, once we do so it will be announced in the public company channels

[2022-04-14 08:59] tbugfinder commented on #784
Basically a dry-run :-) without terraform apply/destroy cycles?

[2022-04-25 06:58] cschweikert opened #794 "Provide build agent for Node.js 18"
The new LTS version of Node.js - version 18 -  is available now. See also https://nodejs.org/en/about/releases/

The Node.js-specific Jenkins build agents are published per Node.js version. The latest is currently for Node.js version 16 (https://github.com/opendevstack/ods-quickstarters/tree/master/common/jenkins-agents/nodejs16).

For providing a new agent for version 18 I guess the following ste

[2022-04-26 09:18] nichtraunzer opened #796 "inf-terraform-aws: enable support for aws SSO"
Current setup prevents using
[code]
during development phase because Makefile expects credentials as environment variables.
**Describe the solution you'd like**
Makefile should not check for environment variables any longer.

[2022-04-26 10:41] tbugfinder commented on #796
… and do instead what ?

[2022-04-27 08:02] braisvq1996 opened #797 "Quickstarters should specify the resources for the rollout process"
**Describe the bug**
Once we specify quotas in Openshift (enforce resources definition in all pods), it would make the rollour process fail

**To Reproduce**
Steps to reproduce the behavior:
1. Set up quotas and resources definition in all pods
2. Rollout a Quickstarter
4. See event error

**Expected behavior**
The quickstarter should be able to rollout successfully.

**Affected version:**
 - Open

[2022-04-27 08:21] #780 closed

[2022-04-27 08:42] nichtraunzer commented on #796
... check for environment vars only if sso is not available 😄

[2022-04-28 10:39] glyk0n commented on #797
By default, pods consume unbounded node resources. However, if a project specifies default container limits, then pods consume resources up to those limits.

You can also limit resource use by specifying resource limits as part of the deployment strategy. However, if a quota has been defined for your project, one of the following two items is required:

* A [limit range](https://docs.openshift.com

[2022-04-29 09:37] #797 closed

[2022-05-10 11:50] tbugfinder opened #802 "inf-terraform-aws & inf-terraform-azure: test-fixture document condition"
It is not obvious that local.name and the module name have to be the same.
A single simple comment might ease developer experience.

https://github.com/opendevstack/ods-quickstarters/blob/5d29cd96976c4b96aa735f898c5f5c5796154b4e/inf-terraform-aws/files/test/fixtures/default/main.tf#L2

FYI: @nichtraunzer

[2022-05-12 14:34] braisvq1996 opened #804 "Jcenter repository not available and build step fails"
**Describe the bug**
Currently Jcenter seems not available and have made the pipelines fails due to a package that was not stored properly in Nexus.
In the Java/SpringBoot QS we have this repository ([here](https://github.com/opendevstack/ods-quickstarters/blob/master/be-java-springboot/templates/gradle-repositories.template#L11)) and maven public below.
Maven public is a group type repository in

[2022-05-12 14:39] renedupont commented on #804
In that case I think we can remove [this](https://github.com/opendevstack/ods-core/blob/master/nexus/json/createRepos.json#L10) from the nexus repos?

[2022-05-12 15:53] tbugfinder opened #805 "execute image builds in PRs only when the PR includes changes to the given agent"
**Is your feature request related to a problem? Please describe.**
GreenIT & waste of resources

**Describe the solution you'd like**
Github actions which build jenkins agents should only be built in case a PR includes changes for the given agent.
E.g. there's no need to build the nodejs14 agent, if nodejs16 agent is changed.

**Describe alternatives you've considered**
N/A

**Additional context**

[2022-05-12 16:06] tbugfinder opened #806 "inf-terraform-* agent: only run PROD deployments while QA/DEV are not needed"
**Is your feature request related to a problem? Please describe.**
GreenIT & waste of resources

The current approach is designed for a deployment into three environments (DEV/QA/PROD). In regards to resource consumption and costs it might triple the overall costs. Measures could be configuring different sizes for DEV/QA/PROD so that costs and waste of resources is lowered. Nevertheless cloud prov

[2022-05-16 06:47] #802 closed

[2022-05-17 08:21] braisvq1996 commented on #804
yeah, we could remove it from Nexus and for the Quickstarters
At the end, we have maven-central for this kind of packages

[2022-05-18 06:38] victorpablosceruelo commented on #804
This is needed right now. Quickstarters cannot compile because jcenter dependencies cannot be found.

https://github.com/opendevstack/ods-quickstarters/pull/807/commits/6ae942407bdc53c752325fc057271b6ad6f2407a

Thanks for pointing it out, Brais.

[2022-05-18 08:19] victorpablosceruelo opened #808 "Openjdk 17 makes compilation fails because not installed in centos 7."
**Describe the bug**
When compiling quickstarters in pipeline, it fails because openjdk 17 is not available.
The package is not installed during docker build, but only a warning is shown.
Change to jdk 17 (script use-j17.sh) is not able to switch, but it just shows a warning
When maven tries to compile, an error is shown.

**To Reproduce**
Steps to reproduce the behavior:
Provision a spring-boot q

[2022-05-25 08:23] raphbaier opened #809 "gcc not installed error when including StageTestSuite in the pipeline"
When including stageTestSuite(context) in Jenkinsfile, we get "unable to execute 'gcc'" in our pipeline.

**To Reproduce**
Steps to reproduce the behavior (python project):
1. Go to the project's jenkinsfile.
2. include stageTestSuite(context)
3. Commit&Push to start the pipeline

**Expected behavior**
Pipeline runs including testSuite

[2022-05-27 12:31] victorpablosceruelo commented on #808
We’ve found a solution to our problem.

AdoptOpenJDK  moved to the eclipse foundation and its name is now Eclipse Temurin, by Adoptium.

https://adoptopenjdk.net/installation.html

There is a guide to install the new packages in a CentOS/RHEL/Fedora distro:

https://adoptium.net/es/installation/linux/

And the packages repository contains packages for centos 7:

https://packages.adoptium.net/ui/na

[2022-05-30 06:40] mh11 opened #810 "Add configurations to use internal Nexus repository"
**Is your feature request related to a problem? Please describe.**
Building of new projects fail due to missing repository configuration.

**Describe the solution you'd like**
Adding the required configurations to the project would provide a solid foundation and consistency across projects.
e.g. A Java project using gradle requires the correct Nexus URL for code dependencies ( in build.gradle) and

[2022-05-30 07:12] metmajer commented on #810
Thank you @mh11. @braisvq1996 we will need to use the repositories only if `USE_NEXUS` is enabled, I assume. @jafarre-viewnext can you advise?

[2022-05-30 07:25] braisvq1996 commented on #810
We already have something similar for `build.gradle` [here](https://github.com/opendevstack/ods-quickstarters/blob/master/be-java-springboot/templates/gradle-repositories.template)  we could follow a similar approach

[2022-05-30 07:54] mh11 commented on #810
If I read this correctly, that works for a controlled environment (e.g. Jenkins).
I think, that you can't assume, that the user has all the variables set correctly in their environment.
It would be good that the configuration file is generated with the URLs set, when the project is provisioned (or read from a properties file) - all contained within the project.

[2022-05-30 08:18] mh11 opened #811 "Docker image use of public dockerhub"
**Is your feature request related to a problem? Please describe.**
The e.g. Docker plain starter relies on public **alpine:latest** from dockerhub and a build can fail, if the **pull rate limit** has been reached.

**Describe the solution you'd like**
For internal projects point the starter to an internal container registry (or get a dockerhub licence for the company).

**Describe alternatives you

[2022-05-31 09:45] mh11 commented on #810
I know that the "hard-coded" URLs would interfere with EDP and would violate the 12-factor apps approach. But the ultimate question is, how to **enable / support** the user to get started with an enviroment, which could range from "nothing" to "multiple" configurations and what are the default resources a user **should use** (public vs internal).
One way to leaverage environment variables are to o

[2022-06-02 07:00] victorpablosceruelo commented on #804
More info about this:
https://stackoverflow.com/questions/66651640/jcenter-deprecation-impact-on-gradle-and-android#:~:text=Summary%3A%20After%20February%201%2C%202022%20the%20jcenter%20%28%29,will%20be%20removed%20in%20the%20next%20major%20release.

[2022-06-02 07:14] victorpablosceruelo opened #813 "ubi8 docker image for Terraform installs packages from centos when there are better options in rh repositories"
**Describe the bug**
When generating ubi8 docker images, we are installing packages from centos instead of using the ones available at Red Hat.
Although most of the times we do this it is not really a problem, if they are incompatible in some way, we'll suffer that incompatibility.

**To Reproduce**
Steps to reproduce the behavior:
Just generate the docker image in folder
common/jenkins-agents/ter

[2022-06-02 07:17] victorpablosceruelo commented on #813
This is sometimes a bug (Jenkins pipeline execution fails randomly), but I did not wanted to report it as a Bug because it is not happening always.

[2022-06-08 11:09] victorpablosceruelo opened #814 "Regression in QS e2e-spock-geb -- should not run groovy tests as part of junit tests."
**Describe the bug**
There is a regression introduced by PR https://github.com/opendevstack/ods-quickstarters/pull/812

https://github.com/opendevstack/ods-quickstarters/pull/812/files#diff-b58e39d227ecddbb0860222a872c81db863a1c7e13c1aa51a621cf1e522af5c8

148 +  useJUnitPlatform()

**To Reproduce**
Steps to reproduce the behavior:
Create a module using QS e2e-spock-geb and add a groovy test.
Since

[2022-06-08 13:09] #814 closed

[2022-06-15 06:40] #808 closed

[2022-06-16 15:29] braisvq1996 opened #816 "Stage name not updated in latest version"
**Describe the bug**
The stage _odsComponentStageImportOpenShiftImageOrElse_ have not been updated to _odsComponentFindOpenShiftImageOrElse_ in the latest release, resulting in a annoying warning message in the pipeline.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a quickstarter from master or 4.x branch
2. Execute Component Pipeline
4. See warning

**Expected behavior**
The warning

[2022-06-17 07:24] #804 closed

[2022-06-17 07:33] victorpablosceruelo opened #818 "Build openshift image fails in docgen QS"
**Describe the bug**
Build openshift image fails in docgen QS

**To Reproduce**
Steps to reproduce the behavior:
Just run the Jenkins IC pipeline.

**Expected behavior**
It should not fail.

**Screenshots**
N/A

**Affected version (please complete the following information):**
 - OpenDevStack [3.x, master]

**Log Output (ensure to remove any confidential information like tokens, project names, etc

[2022-06-20 06:36] victorpablosceruelo commented on #804
Provisioning app is affected by this too:
https://github.com/opendevstack/ods-provisioning-app/issues/737

[2022-06-28 14:09] victorpablosceruelo opened #819 "nodejs12 agent docker image sometimes fails to reach pkgs it needs to download for installation."
**Describe the bug**
When the Jenkins pipeline that checks all the infrastructure runs and tries to generate
the nodejs12 agent docker image sometimes fails to reach pkgs it needs to download for installation.

**To Reproduce**
Steps to reproduce the behavior:
N/A

**Expected behavior**
It should retry to doanload the packages it needs.

**Screenshots**
N/A

**Affected version (please complete the

[2022-06-28 14:11] victorpablosceruelo opened #820 "maven agent docker image does not have the user with id / gid 1001 / 1001. Needed for some tasks."
**Describe the bug**
The maven agent docker image does not have the user with id / gid  1001 / 1001.
This is needed for some tasks that rely on the existence of the user and group
that we run on behalf of.

**To Reproduce**
N/A

**Expected behavior**
User and group need to exist.

**Screenshots**
N/A

**Affected version (please complete the following information):**
 - OpenDevStack [master]

**Log

[2022-06-29 13:38] renedupont commented on #784
@nichtraunzer as discussed recently, to be more IDE independent (devconfig.json requires VS Code), an alternative way of using terrarium could be to add a make target to the Makefile here that basically starts the docker container and mounts the path. e.g.:
`docker run -it -v $(pwd):/workspace/terrarium ghcr.io/nichtraunzer/terrarium sh`
maybe even check in that target if the container is already

[2022-06-29 13:40] renedupont commented on #784
Another thing we discussed was replacing the git pre commit hooks by `make` targets as well. This would reduce complexity and prevents the issue of needing to run `make prep-test` several times for each file

[2022-06-30 09:54] tbugfinder opened #822 "inf-terraform jenkins agent should support later python versions"
inf-terraform jenkins agent (ubi8) should have later python versions installed.

e.g.
[code]

https://github.com/opendevstack/ods-quickstarters/blob/08401ece40b97eb1101462ec91df4aae42ce9b42/common/jenkins-agents/terraform/docker/Dockerfile.ubi8#L37

[2022-07-04 05:52] victorpablosceruelo opened #825 "be-python-flask and be-java-springboot: fatal: cannot pread pack file: Cannot allocate memory"
**Describe the bug**
A clear and concise description of what the bug is.

When running ods box creation Jenkins pipeline script, in step

git fetch --no-tags --progress http://bitbucket.odsbox.lan:7990/scm/opendevstack/ods-jenkins-shared-library.git +refs/heads/*:refs/remotes/origin/*

we get

fatal: cannot pread pack file: Cannot allocate memory

for quickstarters be-python-flask and be-java-spri

[2022-07-04 06:14] victorpablosceruelo commented on #820
This bug is not there. The problem was that some packages fail to download and the error reported was not having permissions.
Since the real error is fixed now in https://github.com/opendevstack/ods-quickstarters/pull/821/files, we can close this one.

[2022-07-04 06:15] #820 closed

[2022-07-05 13:49] victorpablosceruelo commented on #681
We are suffering from this issue right now id EdpBoxes, at least in branches master, 4.0 and experimental.
@jafarre-viewnext @braisvq1996 , when @braisvq1996 says it is enough with 784 MB for container, is it ok with xmx 512 or we should increase the other one too?
Thanks !!!

[2022-07-05 13:57] jafarre-viewnext commented on #681
Resource limit - max heap = guarranted minimum available memory for other processes, such as wkhtmltopdf.
The current situation: resource limit and max heap are both 512 MB, so 512-512=0Mb available in the worst case.
Setting resource limit to 764 leaves a guarranted 256Mb of memory. Note that these 256Mb of memory are shared by wkhtmltopdf, the operating system, the metaspace, the java process it

[2022-07-06 06:25] victorpablosceruelo commented on #681
We should include the modification of docgen pod maximum memory as a change for a future release.
Right now I think we can live modifying by hand the resource limit in OCP3.

To have better results when searching for this problem, I include here my trace too:

[code]

[2022-07-06 07:31] victorpablosceruelo commented on #681
The change needed to overcome the problem:

![image](https://user-images.githubusercontent.com/1253881/177494797-426e88c5-d4e3-49ff-9f50-78ab528c3d6f.png)

[2022-07-11 15:07] renedupont commented on #810
So basically what you would like to have is that once you provisioned a springboot app the repo has a filled out `gradle.properties` with the right nexus vars instead of this empty one: https://github.com/opendevstack/ods-quickstarters/blob/master/be-java-springboot/files/gradle.properties?

[2022-07-12 07:52] #822 closed

[2022-07-12 09:32] #779 closed

[2022-07-20 14:59] renedupont commented on #284
While it is a bit of a different approach, I think what @oalyman is working on (for JVM languages) goes in the same direction: https://github.com/opendevstack/ods-gradle-conventions#readme

[2022-07-28 12:52] renedupont commented on #785
I assume the gradle plugin portal URL got whitelisted by now in our internal network and hence this issue here might not be a bug per se anymore. But, as described above, if we want to use nexus for pulling gradle plugins as well instead of getting them from the public plugin portal, we still need to consider something like my proposal above.
Also, a solution for also downloading gradle wrapper di

[2022-07-28 13:32] renedupont opened #828 "Maven agent not able to switch to Java 17"
**Describe the bug**

Using Java 17 (ODS 4.x) [as described in the docs](https://www.opendevstack.org/ods-documentation/opendevstack/4.x/quickstarters/be-java-springboot.html#_migration_to_java_17) does not work. There are actually two issues, one is a bug in the jenkins-maven-agent that lets the stage fail because it cannot find the use-java17 script and the second is that our sonar version seems

[2022-08-01 08:10] braisvq1996 commented on #828
@renedupont @stitakis it seems that SonarQube does not support java 16 and 17 even in the current LTS version (8.9) and we currently use version 8.2-> https://community.sonarsource.com/t/will-java-16-and-17-be-supported-in-sonarqube-8-9-lts/47535

[2022-08-01 10:41] #816 closed

[2022-08-01 19:29] renedupont commented on #828
Yes, therefore I'd suggest to keep that workaround of switching back to java 11 after the gradle build in the readme/docs regarding using java 17 as long as sonarqube does not support it. I fear once this happens we have to do the same with the next java LTS (java 23) version 🤣.

[2022-08-02 08:18] braisvq1996 commented on #828
I was checking yesterday about this topic and it is very likely that we will face something similar for next java LTS from some coments I read.....
Acording to SonarQube if we want to be able to get support for java 16 and 17 we should use SonarQube 9.x (in reality 9.3 or above)

[2022-08-10 09:49] #809 closed

[2022-08-11 13:44] braisvq1996 opened #834 "Nodejs 10 used in Typescript Quickstarter"
**Describe the bug**
I have seen that in the  [dockerfile ](https://github.com/opendevstack/ods-quickstarters/blob/master/be-typescript-express/files/docker/Dockerfile#L1) of the Typescript Quickstarter we are using **Nodejs 10**

**Expected behavior**
We should be using at least the same version as in the agents (Nodejs16)

**Screenshots**
![image](https://user-images.githubusercontent.com/266456

[2022-08-17 13:57] victorpablosceruelo opened #836 "Push the docker images built by ods-quickstarters to DockerHub so we can reuse them when building ODS Boxes."
**Is your feature request related to a problem? Please describe.**
No, it is not related to a problem.
When the docker images are built by the GitHub actions, please upgrade resulting images to the DockerHub account ( https://hub.docker.com/u/opendevstackorg ), so we can reuse them when building ODS Boxes and reduce time spent in that task (about 5h 30m right now).

**Describe the solution you'd l

[2022-08-17 18:37] tbugfinder commented on #836
Well, what does an „admin user“ expect of an image tagged 4.x? Is it a build of latest released version or a build of latest commit? I’d think we should have a clearer view about the meaning of a 4.x tag and the purpose of image builds.

[2022-08-18 07:54] victorpablosceruelo commented on #681
The place where we have to modify the value so the boxes get the correct memory limit for the pod is:

https://github.com/opendevstack/ods-quickstarters/blob/master/release-manager/ocp-config/cd-docgen.yml

[2022-08-18 09:44] victorpablosceruelo commented on #836
Hi @tbugfinder
You're right. This needs to be clear before going on with the task.

But there is something more: tailor is used to inject values into Build Config files ( bc.yml ) used by oc to generate docker images.
Since this bc.yml files are used to build docker images, that images have a lot of "static" parameters inside.
This means the images cannot be reused without recompilation.
Some exam

[2022-08-29 14:37] #834 closed

[2022-08-30 06:12] victorpablosceruelo opened #840 "cypress quickstarter tests failing in master branch"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Run master branch CI/CD in Jenskins.

**Expected behavior**
Should not fail.

**Screenshots**
N/A

**Affected version (please complete the following information):**
 - OpenDevStack [master at least]

**Log Output (ensure to remove any confidential information like tokens, pro

[2022-08-30 06:14] victorpablosceruelo commented on #840
@cschweikert, @braisvq1996 can you take a look to it (or forward it to the one(s) in charge of this QS ) ?
It stops us from running e2e tests in master branch and generating the new release...

Thanks !!!

[2022-08-30 06:58] cschweikert commented on #840
I'm looking into it now

[2022-08-30 07:31] #840 closed

[2022-08-30 07:34] cschweikert commented on #840
@victorpablosceruelo I merged the fix, but I'm currently not able to test it. Please reopen this ticket, if the acceptance test is still failing.

[2022-08-30 08:16] victorpablosceruelo commented on #840
@cschweikert many thanks for helping us fixing it. Specially for being so fast !!
I'll launch the jenkins workflow and let you know if it passes the tests.
:-)

[2022-09-05 13:23] victorpablosceruelo commented on #685
The valid cfg in in maven quickstarter.
We need to fix it in a way this does not break again.

[2022-09-14 15:30] braisvq1996 opened #843 "Nodejs12 build fails with redhat jenkins agent"
**Describe the bug**
The build of the Nodejs12 agent fails to build with the agent-base being built with _registry.redhat.io/openshift4/ose-jenkins-agent-base_

**To Reproduce**
Steps to reproduce the behavior:
1.Build Agent-base with the base image being _registry.redhat.io/openshift4/ose-jenkins-agent-base_
2. Build Nodejs12 agent with that Agent-base.
4. See error

**Expected behavior**
The bui

[2022-09-15 06:44] #843 closed

[2022-09-15 08:25] victorpablosceruelo opened #846 "be-scala-play fails in odsBox generation tests"
**Describe the bug**
be-scala-play fails in odsBox generation tests

**To Reproduce**
Steps to reproduce the behavior:
Try to generate odsBox for master branch

**Expected behavior**
Should pass the tests

**Screenshots**
N/A

**Affected version (please complete the following information):**
 - OpenDevStack [master]

**Log Output (ensure to remove any confidential information like tokens, project

[2022-09-15 08:30] victorpablosceruelo commented on #846
Seems to be the folder 'target/test-reports' does not exist after executing tests, so the Jenkins master cannot unstash it.

[code]

Maybe @jafarre-bi or @jorge-romero can help us to see why this is happenning...
@braisvq1996 thanks for notifying.

[2022-09-15 08:57] braisvq1996 opened #847 "Terraform UBI agent fails to build with latest base image"
**Describe the bug**
Terraform build with Dockerfile.ubi8 fails to build due to the latest changes in Jenkins base agent

**To Reproduce**
Steps to reproduce the behavior:
1. Build Terraform with Dockerfile.ubi8
2. See error

**Expected behavior**
The agent should build successfully

**Screenshots**
![image](https://user-images.githubusercontent.com/26645694/190361004-df9b712b-2bcd-4b37-b21f-c2356

[2022-09-20 11:20] nichtraunzer commented on #847
will fix it !

[2022-09-20 13:22] #847 closed

[2022-09-27 15:56] nichtraunzer commented on #784
Adding new targets to Makefile:
make clean:
- removes unnecessary files from working directory
- has no output
make check-config:
- does some basic checks on configuration files and account settings
- output:
[code]
see PR [#850](https://github.com/opendevstack/ods-quickstarters/pull/850)

[2022-10-06 08:41] braisvq1996 opened #853 "Cypress using node12 and node 16 ?"
**Describe the bug**
The [Quickstarter pipeline](https://github.com/opendevstack/ods-quickstarters/blob/master/e2e-cypress/Jenkinsfile#L18) of cypress is using node12 but the [Component pipeline](https://github.com/opendevstack/ods-quickstarters/blob/master/e2e-cypress/Jenkinsfile.template#L6) is using node16.

Is this the intention ?

**Expected behavior**
Quickstarter pipeline and Component pipe

[2022-10-06 09:16] #853 closed

[2022-10-13 07:49] nichtraunzer opened #857 "Share Outputs from AWS/AZURE Components with other Components"
Recently we have been contacted from a usecase developer who asks for the following feature:

The current cloud components does not support that feature but I'd like to propose the following solution:
Assuming we have an ODS project X, which  contains one AWS component called **be** (backend), a fronted component **fe** and an **mro** component (release manager).
Since the pipeline for ods-infra c

[2022-10-13 07:57] metmajer commented on #857
Love this, @nichtraunzer. Use of ConfigMaps makes absolute sense. Ideally, Terraform outputs marked as _sensitive_ would go into a Secret vs. a ConfigMap.

[2022-10-13 08:03] nichtraunzer commented on #857
Good point ... managing sensitive information ... that requires additional brainpower 🙈

[2022-10-13 08:18] metmajer commented on #857
@nichtraunzer we would only need to separate sensitive from non-sensitive data within `outputs.tf` into Secrets and ConfigMaps respectively. I suggest to play around with the `jq` CLI a bit for this.

[2022-10-13 08:55] albertpuente commented on #857
I like the idea. Does this mean though that BuildConfigs for components with dependencies will need to be changed by the users to mount the output ConfigMaps coming from preceeding components?
As a dumber alternative, we could just have a configuration volume always mounted for ods-infra BuildConfig that users can use to store I/O, and leave to them (the users) decide naming conventions and the pr

[2022-10-13 13:32] metmajer commented on #857
@albertpuente volume mounts would also need to be part of a deployment descriptor. I like your idea, yet the only benefit I see is that a single shared volume could several files produced by various producers. However, this would require that such a volume does get mounted, otherwise the producer of a file would fail. No?

[2022-10-13 14:49] albertpuente commented on #857
If we are strictly speaking of the ods-infra quickstarter, it only comes with a BuildConfig in this case, there is no `odsQuickstarterStageCreateOpenShiftResources` in its Jenkinsfile (it does not create nor use any other resource, such as a Deployment as far as I can see).
As long as the volume claim is mounted as ReadWriteMany, it will up to the different builds to use it properly.

[2022-10-14 06:32] metmajer commented on #857
@albertpuente true! On the other hand, consumers would need to ingest the file(s) on the shared volume and apply values at initialisation time. With a ConfigMap, we could have all configurations applied as environment variables, which would be in line with 12-factor apps best practices. We should also consider ease-of-use.

[2022-10-14 21:46] tbugfinder commented on #857
"OT" - [ACK](https://aws-controllers-k8s.github.io/community/docs/community/overview/) also leverages ConfigMaps for tracking of resources.

[2022-10-21 10:56] #784 closed

[2022-10-22 05:26] administrateur-Sexflixxx opened #858 "First.Test on iphone device"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when i understand every steps to do exceot for codes😡🤬🤬🤬🤬😤😤 never know which files / dir /languge / im getting lost into more advanced working with codes but i can do most but got misery to know what is the thing i need to change in the file and where

[2022-10-23 17:44] #858 closed

[2022-10-24 21:43] administrateur-Sexflixxx opened #859 "Trying! Create both"
__Originally posted by @administrateur-Sexflixxx in https://github.com/debugtalk/JenkinsTemplateForApp/issues/16__

[2022-10-24 21:47] administrateur-Sexflixxx opened #860 "Justetrying"

[2022-11-05 14:47] gerardcl opened #862 "oauth-proxy sidecar image update"
**Describe the bug**
Current ODS quickstarters that make use of the openshift oauth-proxy sidecar container are working with the image `openshift/oauth-proxy:latest` (check it [here](https://github.com/opendevstack/ods-quickstarters/blob/e0b14bed2d4ef50850f9bf0930a319df0dd38230/common/ocp-config/ds-component-environment/ds-component-oauthproxy.yml#L131)), and that is no longer working as expected.

[2022-11-05 15:37] gerardcl opened #865 "python3.8 ubi8 images reaching end of life - upgrade to 3.9"
**Is your feature request related to a problem? Please describe.**
Python ODS quickstarters are still using python3.8 (latest version is 3.11), and UBI8 python3.8 is ending life May 2023 (check it [here](https://catalog.redhat.com/software/containers/ubi8/python-38/5dde9cacbed8bd164a0af24a)).

**Describe the solution you'd like**
Upgrade to latest long term supported UBI python image, which is pyt

[2022-11-05 15:37] gerardcl commented on #865
Discarding images for OCP3. Focus is only on OCP4.

[2022-11-05 15:38] gerardcl commented on #865
FYI @braisvq1996

[2022-11-07 08:49] gerardcl commented on #862
This might break the RM since the image is not owned by ODS nor in the `openshift` namespace. The solution might be required to be managed via PaaS team (which implies defining a life cycle for this image and get `latest` regularly).

FYI @braisvq1996 @metmajer

[2022-11-07 08:52] gerardcl commented on #865
from comments from @braisvq1996, we are going to include python3.8 to ensure 100% smooth upgrades

[2022-11-08 09:36] braisvq1996 commented on #862
I have asked PaaS team if this is possible, I will let you know

[2022-11-09 08:00] gerardcl commented on #862
ok, thanks from the tests from @braisvq1996 we confirm we require the image to be in the cluster, hence the PRs will change in a more "cluster management" docs way.

basically, we need a cluster admin from now on to make sure (when installing an ODS in a cluster) to run:

[code]

and, to reference that in the deployments as:

[code]

[2022-11-10 08:48] #865 closed